{% extends "base.html" %} {% load staticfiles %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_teaminvest.css' %}" /> {% endblock css %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/admin_teaminvest.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />-->

<!--<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/page.js' %}"></script>-->

{% block right %}

<body>
	<div class="wrapper">
		<div class="searchBox">
			<span class="project">项目名称：</span>
			<input type="text" class="projectBox" />
			<span class="phoneNum">用户手机号：</span>
			<input class="numberBox" type="text" /><br /><br />
			<span class="auditState">处理状态：</span>
			<select class="auditBox">
				<option value="">全部</option>
				<option value="1">待审核</option>
				<option value="0">待回款</option>
				<option value="2">已拒绝</option>
				<option value="3">已结清</option>
			</select><br />
			<!--<div style="position: relative;">
					<input type="file" id="upFile" name="file" class="file" onchange='hint.innerHTML = this.files[0].name;' />
					<a class="input-clone">请选择文件</a>
					<p style="display: inline-block;position: absolute;top: 30px;">已选择表格：<b id="hint" style="font-weight: bold;">无</b></p>
					<input type="button" class="upload" value="导入返现数据" />
					<input type="button" class="backupload" value="导入回款数据" />
				</div>
				<br />
				<input type="button" class="search" value="搜索" />
				<input type="button" class="export" value="导出数据" />-->
			<div class="operteBox">
				<input type="button" class="search" value="搜索" />
				<input type="file" id="upFile" name="file" class="file" onchange='hint.innerHTML = this.files[0].name;' />
				<a class="input-clone">请选择文件</a>
				<p style="display: inline-block;position: absolute;top:100px;left: 355px;">已选择表格：<b id="hint" style="font-weight: bold;">无</b></p>
				<input type="button" class="upload" value="导入返现数据" />
				<input type="button" class="backupload" value="导入回款数据" />
				<input type="button" class="export" value="导出数据" />
			</div>
		</div>
		<div class="contentBox" style="margin-top: 10px;">
			<div id="pagedata"></div>
			<div class="Page-in1">
				<div class="page" id="page"></div>
			</div>
		</div>

		<div class="msk">
			<div class="mskBox">
				<span class="operate">操作回款弹窗</span>
				<div class="dataBox">
					<form>
						回款金额：<input type="text" id="backMoney" placeholder="请输入回款金额" /><br />回款时间：
						<input type="date" id="date" /><br />
					</form>
					<div class="msgbox">

					</div>
				</div>
				<input type="submit" class="mskBtn submit" />
				<input type="button" class="mskBtn cancel" value="取消" />
			</div>
		</div>
		<!--拒绝-->
		<div class="fMsk">
			<div class="mskBox">
				<span style="display: block;margin: 10px 160px;font-size: 20px;">操作拒绝弹窗</span>
				<textarea class="reason"></textarea>
				<div class="mskBtn fBtn">确定</div>
				<div class="mskBtn fcancel">取消</div>
			</div>
		</div>
		<div class="bMsk">
			<div class="mskBox1" style="position: relative;">
				<span style="display: block;margin: 20px 160px;font-size: 20px;">操作返现弹窗</span>
				<span class="desc">返现金额：</span><input type="text" class="backMoney back" placeholder="请输入返现金额" /><br />
				<!--<span class="desc">回款日期：</span><input type="date" class="backDate back" />-->
				<input type="submit" class="mskBtn backBtn">
				<input type="button" class="mskBtn cancel1" value="取消" style="position: absolute;right: 75px;top: 115px;">
			</div>
		</div>
		<div class="cMsk">
			<div class="mskBox2">
				<span style="display: block;margin: 10px 160px;font-size: 20px;">操作结算弹窗</span>
				<p class="ctxt">是否要进行结算？</p>
				<div class="mskBtn cBtn">确定</div>
				<div class="mskBtn Ccancel">取消</div>
			</div>
		</div>
		<!--查看弹窗-->
		<div class="lMsk">
			<div class="lMskBox">
				<div class="close">×</div>
				<div class="lDataBox">

				</div>
			</div>
		</div>
	</div>
	<iframe id="myIFrame" scrolling="yes" src="abount:blank" style="display:none" frameborder=1></iframe>
</body>

{%endblock%} {% block js %}
<script type="text/javascript" src="{% static 'js/ajaxfileupload.js' %}"></script>
<script>
	$.ajaxSetup({
		data: {
			csrfmiddlewaretoken: '{{ csrf_token }}'
		},
	});
	$(function() {
		//全部数据
		var allData = '<table class="t1" width="100%"><thead><tr><th width="12.5%">项目名称</th><th width="12.5%">电话号码</th>' +
			'<th width="12.5%">投资时间</th><th width="10%">投资金额</th><th width="12%">提交时间</th><th width="12.5%">处理状态</th><th width="15%">qq</th><th width="13%">备注</th></tr></thead><tbody>' +
			'[results]<tr><td>{project_title}</td><td>{user_mobile}</td><td>{invest_date}</td><td>{invest_amount}</td><td class="sub_time">{submit_time}</td><td class="state{audit_state}">{state_desc}</td><td>{qq}</td><td>{remark}</td></tr>[/results]' +
			'</tbody></table>';

		//待审核
		var noAuditData = '<table class="t1" width="100%"><thead><tr><th width="12.5%">项目名称</th><th width="12.5%">电话号码</th>' +
			'<th width="12.5%">投资时间</th><th width="12.5%">投资金额</th><th width="12%">提交时间</th><th width="15%">操作</th><th width="12.5%">qq</th><th width="10%">备注</th></tr></thead><tbody>' +
			'[results]<tr><td>{project_title}</td><td>{user_mobile}</td><td>{invest_date}</td><td>{invest_amount}</td><td class="sub_time">{submit_time}</td><td class="node"><a class="cashBack" data-id="{id}">返现</a>丨<a class="refuse" data-id="{id}">拒绝</a></td><td>{qq}</td><td>{remark}</td></tr>[/results]' +
			'</tbody></table>';

		//待回款
		var backMoneyData = '<table class="t1" width="100%"><thead><tr><th width="12%">项目名称</th><th width="12.5%">电话号码</th>' +
			'<th width="12.5%">投资时间</th><th width="12.5%">投资金额</th><th width="12%">提交时间</th><th width="15%">操作</th><th width="12.5%">qq</th><th width="10%">备注</th></tr></thead><tbody>' +
			'[results]<tr><td>{project_title}</td><td>{user_mobile}</td><td>{invest_date}</td><td>{invest_amount}</td><td class="sub_time">{submit_time}</td><td><a class="moneyBack" data-id="{id}" data-userid="{user}">回款</a>丨<a class="look" data-id="{id}">查看</a>丨<a class="checkout" data-id="{id}">结清</a></td><td>{qq}</td><td>{remark}</td></tr>[/results]' +
			'</tbody></table>';

		//已拒绝	
		var refuseData = '<table  class="t1" width="100%"><thead><tr><th width="12%">项目名称</th><th width="12.5%">电话号码</th>' +
			'<th width="12.5%">投资时间</th><th width="12.5%">投资金额</th><th width="12%">提交时间</th><th width="15%">操作</th><th width="12.5%">qq</th><th width="10%">备注</th></tr></thead><tbody>' +
			'[results]<tr><td>{project_title}</td><td>{user_mobile}</td><td>{invest_date}</td><td>{invest_amount}</td><td class="sub_time">{submit_time}</td><td><a>/</a></td><td>{qq}</td><td>{remark}</td></tr>[/results]' +
			'</tbody></table>';

		//已结清	
		var jieqingData = '<table class="t1" width="100%"><thead><tr><th width="12%">项目名称</th><th width="12.5%">电话号码</th>' +
			'<th width="12.5%">投资时间</th><th width="12.5%">投资金额</th><th width="12%">提交时间</th><th width="15%">操作</th><th width="12.5%">qq</th><th width="10%">备注</th></tr></thead><tbody>' +
			'[results]<tr><td>{project_title}</td><td>{user_mobile}</td><td>{invest_date}</td><td>{invest_amount}</td><td class="sub_time">{submit_time}</td><td><a data-id="{id}" class="check">查看回款记录</a></td><td>{qq}</td><td>{remark}</td></tr>[/results]' +
			'</tbody></table>';

		$("li.home16").toggleClass("on");

		var url = "/restapi/investlog/?page={page}&pageSize={pageSize}";

		function pagecallback() {
			console.log("这是一个回调函数");
			$('.sub_time').each(function() {
				var submit_time = $(this).text().split('T');
				$(this).text(submit_time[0]);
			});

		}

		$("#pagedata").ajaxPage({
			url: url,
			pageId: $("#page"),
			pageSize: 6,
			run: true,
			content: allData,
			complete: pagecallback,
		});
		//搜索
		$(".search").click(function() {
			var project_title = $(".projectBox").val(); //获取项目名称
			var user_mobile = $(".numberBox").val(); //获取电话号码
			var state_desc = $(".auditBox option:selected").val(); //获取Select里面的值
			console.log("------状态" + state_desc);
			var newUrl = url;
			if(project_title) {
				newUrl += "&project_title=" + project_title;
			}
			if(user_mobile) {
				newUrl += "&user_mobile=" + user_mobile;
			}
			if(state_desc) {
				newUrl += "&audit_state=" + state_desc;
			}
			var pdata;
			if(state_desc == "") {
				pdata = allData;
			} else if(state_desc == 1) {
				pdata = noAuditData;
			} else if(state_desc == 2) {
				pdata = refuseData;
			} else if(state_desc == 3) {
				pdata = jieqingData;
			} else if(state_desc == 0) {
				pdata = backMoneyData;
			}

			console.log("---------newUrl", newUrl);
			$("#pagedata").ajaxPage({
				url: newUrl,
				pageId: $("#page"),
				pageSize: 6,
				run: true,
				content: pdata,
				complete: pagecallback,
			});

		});

		//点击导入图片
		var hint = document.getElementById("hint");
		$(".input-clone").click(function() {
			$(".file").click();
		});
		//导入返现数据
		$(".upload").click(function() {
			if(!$(".file").val()) {
				alert("请先选择文件");
				return;
			}
			//导入返现的文件
			var upFile = "upFile"; //id
			$.ajaxFileUpload({
				url: '/Admin/import_investlog_settle/',
				secureuri: false,
				fileElementId: upFile, //file标签的id
				dataType: 'json', //返回数据的类型
				data: {}, //一同上传的数据
				success: function(data, status) {
					if(data.code == 0) {
						alert("导入成功！ 数量：" + data.num);
					} else {
						alert(data.msg + " 成功数量：" + data.num);
					}
				},
				error: function(data, status, e) {
					alert(e);
				}
			});

		});
		//导入回款数据文件
		$(".backupload").click(function() {
			if(!$(".file").val()) {
				alert("请先选择文件");
				return;
			}
			var upFile = "upFile"; //id
			$.ajaxFileUpload({
				url: '/Admin/import_investlog_back/',
				secureuri: false,
				fileElementId: upFile, //file标签的id
				dataType: 'json', //返回数据的类型
				data: {}, //一同上传的数据
				success: function(data, status) {
					if(data.code == 0) {
						alert("导入成功！ 数量：" + data.num);
					} else {
						alert(data.msg + " 成功数量：" + data.num);
					}
				},
				error: function(data, status, e) {
					alert(e);
				}
			});

		});
		//导出返现文件
		$(".export").click(function() {
			var html = '<form action="' + "/Admin/export_investlog/" + '" method="get" target="_self" id="postData_form">';
			var project_title = $(".projectBox").val(); //获取项目名称
			var user_mobile = $(".numberBox").val(); //获取电话号码
			var state_desc = $(".auditBox option:selected").val(); //获取Select里面的值
			console.log("导出返现状态:" + state_desc);

			if(project_title) {
				html += '<input name="project_title" type="hidden" value="' + project_title + '"/>';
			}
			if(user_mobile) {
				html += '<input name="user_mobile" type="hidden" value="' + user_mobile + '"/>';
			}
			if(state_desc) {
				html += '<input name="audit_state" type="hidden" value="' + state_desc + '"/>';
			}
			html += '</form>';
			var iframe = document.getElementById('myIFrame');
			iframe.contentWindow.document.open();
			iframe.contentWindow.document.write(html);
			iframe.contentWindow.document.close();
			document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
		});

		var parent;
		var id;
		/********************** 模态框  ***********************/
		$(".contentBox").on('click', ".cashBack", function() {
			parent = $(this).parent();
			var bId = $(this).attr("data-id");
			console.log("当前回款id:", bId);
			$(".bMsk").show();
			$(".backBtn").click(function() {
				if(!$(".backMoney").val()) {
					alert("回款不能为空！");
				}
				//正则表达式验证：
				var reg = new RegExp("^[0-9]*$");
				if(!reg.test($(".backMoney").val())) {
					alert("回款金额只能是数字！");
				}
				$.ajax({
					url: '/Admin/admin_teaminvest/',
					type: "post", //提交方式post
					async: true, //是否同步
					data: {
						"type": 1,
						"id": bId,
						"cash": $(".backMoney").val(),
						"back_date": $(".backDate").val()
					},
					timeout: 5000, //超出时间
					dataType: 'json', //返回数据格式Json
					success: function(ret) {
						if(ret.code == 0) {
							$(".bMsk").hide();
							parent.replaceWith("<td><a>已回款</a></td>");
						}

					},
					error: function(xhr, textStatus) {
						console.log('错误:' + xhr.responseText);
					}
				});
			});
		});

		$(".cancel1").click(function() {
			$(".bMsk").hide();
		});

		/**
		 *************待审核返现*************
		 **/
		$(".submit").click(function() {
			console.log("---------------,llcid", id)
			console.log(parent);
			if(!$("#backMoney").val() || !$("#date").val()) {
				alert("输入框不能为空");
			}
			var backMoney = $("#backMoney").val();
			var remark = $("#remark").val();
			var date = $("#date").val();
			//正则表达式验证：
			var reg = new RegExp("^[0-9]*$");
			if(!reg.test($("#backMoney").val())) {
				alert("回款金额只能是数字！");
			}

			$.ajax({
				url: '/Admin/admin_teaminvest/',
				type: 'POST', //请求方式
				async: true, //或false,是否异步
				data: {
					"type": 3,
					"id": id,
					"cash": backMoney,
					"remark": remark,
					"back_date": date
				},
				timeout: 5000, //超时时间5s
				dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
				success: function(ret) {
					console.log(ret.code);
					if(ret.code == 0) {
						$(".msk").hide();
						parent.replaceWith("<td><span>已回款</span></td>");
					}

				},
				error: function(xhr, textStatus) {
					console.log('错误:' + xhr.responseText);
				}
			});

		});

		//点击取消 模态框消失
		$(".cancel").click(function() {
			$(".msk").hide();
		});

		/**************拒绝弹出模态框*************/
		$(".contentBox").on('click', ".refuse", function() {
			parent = $(this).parent();
			var fId = $(this).attr("data-id");
			console.log("当前拒绝fId：", fId);
			$(".fMsk").show();
			$(".fBtn").click(function() {
				if(!$(".reason").val()) {
					alert("填写不能为空！")
				} else {
					$.ajax({
						url: '/Admin/admin_teaminvest/',
						type: 'POST', //Post方法
						async: true, //是否同步
						data: {
							"type": 2,
							"id": fId,
							"reason": $(".reason").val()
						},
						timeout: 5000, //超出时间
						dataType: 'json', //返回数据格式Json
						success: function(ret) {
							if(ret.code == 0) {
								$(".fMsk").hide();
								parent.replaceWith("<td><span>已拒绝</span></td>"); //替换当前内容
							}
						},
						error: function(xhr, textStatus) {
							console.log('错误:' + xhr.responseText);
						}
					});
				}

			});

		});
		$(".fcancel").click(function() {
			$(".fMsk").hide();
		});

		/************结清ajax**************/
		$(".contentBox").on('click', ".checkout", function() {
			$(".cMsk").show();
			parent = $(this).parent();
			var cId = $(this).attr("data-id");
			console.log("当前结清的id", cId);

			$(".cBtn").click(function() {
				$.ajax({
					url: '/Admin/admin_teaminvest/',
					type: "post", //POST方法
					async: true, //是否同步
					data: {
						"type": 4,
						"id": cId
					},
					timeout: 5000, //超出时间
					dataType: 'json', //返回数据格式json
					success: function(ret) {
						if(ret.code == 0) {
							alert("结算成功");
							$(".cMsk").hide();
						} else {
							alert(ret.res_msg);
						}
						parent.replaceWith("<td><span>已结清</span></td>"); //替换当前内容
					},
					error: function(xhr, textStatus) {
						console.log('错误:' + xhr.responseText);
					}
				});

			});
		});
		$(".Ccancel").click(function() {
			$(".cMsk").hide();
		});

		/************回款ajax****************/
		$(".contentBox").on('click', ".moneyBack", function() {
			parent = $(this).parent();
			console.log(parent); //当前的tr
			user_id = $(this).attr("data-userid");
			$(".msgbox").empty();
			var backUrl = "/restapi/bankcard/?user=" + user_id;
			console.log(backUrl);
			$.ajax({
				url: backUrl,
				type: 'GET', //GET
				async: true, //或false,是否异步
				timeout: 5000, //超时时间
				dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
				success: function(data, textStatus, jqXHR) {
					console.log(data.results);
					if(data.results[0]) {
						str_html = '<p>' + data.results[0].real_name + '</p>' +
							'<p>' + data.results[0].bank + '</p>' +
							'<p>' + data.results[0].card_number + '</p>';
					}
					else{
						str_html = "用户尚未绑定银行卡";
					}
					$(".msgbox").append(str_html);
				},
				error: function(xhr, textStatus) {
					console.log('错误:' + xhr.responseText);
				}
			});

			//模态框弹出
			$(".msk").show();

		});
		$(".cancel1").click(function() {
			$(".msk").hide();
		});

		/*************查看**************/
		$(".contentBox").on("click", ".look", function() {
			$(".lDataBox").empty();
			var id = $(this).attr("data-id");
			$.ajax({
				url: '/restapi/backlog/?investlog=' + id,
				type: "get", //提交方式post
				async: true, //是否同步
				timeout: 5000, //超出时间
				dataType: 'json', //返回数据格式Json
				success: function(data) {
					var str_html = "";
					console.log(data.results.length);
					if(data.results.length == 0) {
						alert("暂无数据");
					} else {
						$(".lMsk").show();
						for(var i in data.results) {
							str_html += '<span class="backtime">回款时间：' + data.results[i].back_date + '</span><br />' +
								'<p class="backamount">回款金额：' + data.results[i].back_amount + '元</p><br />';
						}
						$(".lDataBox").append(str_html);
					}

				},
				error: function(xhr, textStatus) {
					console.log('错误:' + xhr.responseText);
				}
			});

		});

		$(".close").click(function() {
			$(".lMsk").hide();
		});

		/*************查看回款记录************/
		$(".contentBox").on("click", ".check", function() {

			$(".lDataBox").empty();
			var id = $(this).attr("data-id");
			$.ajax({
				url: '/restapi/backlog/?investlog=' + id,
				type: "get", //提交方式post
				async: true, //是否同步
				timeout: 5000, //超出时间
				dataType: 'json', //返回数据格式Json
				success: function(data) {
					console.log(data.results.length);
					var str_html = "";
					if(data.results.length == 0) {
						alert("暂无数据");
					} else {
						$(".lMsk").show();
						for(var i in data.results) {
							str_html += '<p class="backtime">回款时间：' + data.results[i].back_date + '</p>' +
								'<p class="backamount">回款金额：' + data.results[i].back_amount + '元</p>'
						}
						$(".lDataBox").append(str_html);
					}

				},
				error: function(xhr, textStatus) {
					console.log('错误:' + xhr.responseText);
				}
			});

		});

	});
</script>
{% endblock js %}

<!--
	导入返现接口：Admin/import_investlog_settle
	导入回款接口：Admin/import_investlog_back
	导出返现接口： Admin/export_investlog
	
-->