.wrapper {
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background: white;
	position: relative;
}

.title {
	display: block;
	padding: 15px 400px;
	font-size: 20px;
	font-weight: bold;
}

.contentBox {
	width: 100%;
	padding-top: 70px;
}

.tab {
	/*width: 375px;*/
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 20px;
	top: 0;
	color: RGB(145, 193, 29);
}

.tab li {
	width: 75px;
	display: inline-block;
	float: left;
	text-align: center;
	cursor: pointer;
	border-left: 1px solid RGB(220, 220, 220);
	border-top: 1px solid RGB(220, 220, 220);
	border-bottom: 1px solid RGB(220, 220, 220);
}

.tab li:nth-child(5) {
	border-right: 1px solid RGB(220, 220, 220);
}

.active {
	background: RGB(77,170,132);
	color: white;
}


/*-----------模态框----------*/

.msk {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(74, 49, 49, .2);
	display: none;
}

.mskBox {
	width: 460px;
	height: 360px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -230px;
	margin-top: -180px;
	background: RGB(243, 243, 243);
	border: 1px solid RGB(180, 180, 180);
}

.operate {
	display: block;
	margin: 10px 150px;
	font-size: 20px;
}

.dataBox {
	width: 360px;
	margin: 0 auto;
	line-height: 40px;
}

#backMoney {
	padding: 5px 15px;
	width: 180px;
	margin-left: 4px;
}

#date {
	padding: 5px 5px;
	width: 200px;
	border: 1px solid #e4e4e4;
	margin-left: 4px;
}

#remark {
	padding: 5px 15px;
	width: 220px;
	margin-left: 28px;
}

.mskBox p {
	line-height: 30px;
}

.mskBtn {
	margin-top: 10px;
	width: 120px;
	height: 40px;
	background: RGB(22, 155, 212);
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-left: 60px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	border: none;
}

.fMsk {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(74, 49, 49, .2);
	display: none;
}

.reason {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 240px;
}

.fBtn {
	margin-left: 80px;
}

.bMsk {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(74, 49, 49, .2);
	display: none;
}

.desc{
	margin-left: 90px;
	display: inline-block;
	font-size: 16px;
}

.backMoney {
	padding: 5px 5px;
	width: 200px;
}

.backDate{
	padding: 5px 5px;
	width: 200px;
	margin-top: 10px;
}

.mskBox1 {
	width: 460px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -230px;
	margin-top: -100px;
	background: RGB(243, 243, 243);
	border: 1px solid RGB(180, 180, 180);
}
.mskBox2 {
	width: 460px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -230px;
	margin-top: -100px;
	background: RGB(243, 243, 243);
	border: 1px solid RGB(180, 180, 180);
}
.backBtn {
	margin-left: 80px;
	margin-top: 30px;
}

.cMsk {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(74, 49, 49, .2);
	display: none;
}

.ctxt {
	margin: 30px 160px;
	display: block;
}

.cBtn {
	margin-left: 80px;
}
/*************查看模态框*****************/
.lMsk{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(74, 49, 49, .2);
	display: none;
}

.lMskBox{
	width: 460px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -230px;
	margin-top: -100px;
	background: RGB(243, 243, 243);
	border: 1px solid RGB(180, 180, 180);
	border-radius:10px;
}

.close{
	width: 30px;
	height: 30px;
	background: RGB(219,213,213);
	border-radius: 50%;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	position: absolute;right: 10px;top: 5px;
}

.lDataBox{
	width: 300px;
	height: 100%;
	margin: 0 auto;
}
.backtime{
	font-size: 16px;
	padding-top: 50px;
	margin-left: 60px;
}
.backamount{
	font-size: 16px;
	margin-top: 30px;
	margin-left: 60px;
}

.t1 td {
	height: 52px;
	text-align: center;
	border-bottom: 1px dashed #4daa84;
}

table th {
	font-weight: 500;
}

.Page-in1{
    border-top: none !important;
    height: auto;
    padding: 10px 0;
    text-align: right;
    top: 320px;
}

.state1{
	color: RGB(102,102,102);
}
.state2{
	color: RGB(102,102,102);
}
.state3{
	color: RGB(102,102,102);
}
