.bgd{ 
	background-image:url(../images/login_banner.jpg);
	width:100%;
	height:480px;}
.lodet{width:328px;
		height:358px;
		float:right;
		background:#fff;
		margin-top:3rem;
		margin-right: 10rem;}
.lo-h2{
	font-size: 18px;
	text-align: left;
	margin: 2rem 0px 1rem 25px;}
.lo-input{
	width: 245px;
	height: 40px;
	margin-bottom: 1rem;}
.lo-btn{width:280px;
		height:40px;
		background:#018FD7;
		color:#fff;
		border:1px solid #018FD7;
		border-radius:3px;
		margin-top:2rem;
		font-size:16px;}
.lo-btn:hover{
	cursor:pointer;
	background:#0073AE;
	color:#fff;
	border:1px solid #0073AE;}
.lo-for{
		color: rgb(1, 143, 215);}
.lo-re{color:#FE0000;}
.lo-us{
	position: absolute;
	margin-top: 8px;
	margin-left: 7px;}

[placeholder] { font-family: 'Microsoft yahei';padding-left: 35px;}
::-moz-placeholder {
	color:#999;
    text-indent: 5px; /* 没有用 */
    opacity: 1!important;
}
:-ms-input-placeholder {
    color:#999;
    text-indent: 5px;
}
::-webkit-input-placeholder {
    color:#999;
    text-indent: 5px;
}
.contant{width:1100px;
		height:auto;
		margin:0 auto;
		padding-top:3rem;
		margin-bottom:1rem;}
.co-left{width:50%;
	float:left;
	text-align:left;}
.re-input{
	padding-left: 15px;
	width: 340px;
	height: 35px;
	border-radius: 7px;
	border: 1px solid #E7E7E7;
	outline:none;
	background: #fff;}
.re-d{
	margin-bottom:1.5rem;}
.re-ti{
	font-size:16px;line-height: 10px;}
.re-form{
	width: 500px;
	border-right: 1px solid rgb(231, 231, 231);}
.yzm-img{
	cursor:pointer;
	margin-left: -100px;
	margin-top: 0px;
	border-left: 1px solid rgb(231, 231, 231);
	padding-left: 3px;}
.re-dti{
	text-align: left;
}
.re-huo{

	margin-left: -89px;
	background: rgb(245, 245, 245) none repeat scroll 0% 0%;
	border: 1px solid rgb(231, 231, 231);
	height: 37px;
	border-radius: 0px 7px 7px 0px;
	outline:none;
}
#divcode{margin-left: -4px;}
.re-huo{
	cursor:pointer;}
.re-yu{color:#239EDB;}
.re-liji{
	color: rgb(255, 255, 255);
	background: rgb(240, 134, 25) none repeat scroll 0% 0%;
	border: 1px solid rgb(240, 134, 25);
	width: 335px;
	height: 40px;
	border-radius: 5px;
	font-size: 16px;}
.re-liji:hover{
	cursor:pointer;
	color: rgb(255, 255, 255);
	background: rgb(234, 121, 4) none repeat scroll 0% 0%;
	border: 1px solid rgb(234, 121, 4);
	width: 335px;
	height: 40px;
	border-radius: 5px;
	font-size: 16px;
}
.ljdl{color:#F18F2B;
	text-decoration:underline;}
.re-pad{padding-left:5rem;}
.re-wb{
	position: absolute;
margin-top: 3px;
margin-left: 9px;}
.re-weibo{
	width: 146px;
height: 35px;
background: rgb(232, 120, 56) none repeat scroll 0% 0%;
border-radius: 5px;
color: rgb(255, 255, 255);
font-size: 14px;
margin-right: 1rem;
float:left;}
.wb-span{margin-left: 45px;
line-height: 32px;}
.re-QQ{
	width: 146px;
height: 35px;
background: rgb(63, 176, 220) none repeat scroll 0% 0%;
border-radius: 5px;
color: rgb(255, 255, 255);
font-size: 14px;
margin-right: 1rem;
float: left;}
.re-ret{margin:1rem;}
.heg{background: rgb(251, 250, 248) none repeat scroll 0% 0%;height: 1000px;}

.chkbox_unchecked{
	width: 18px;
	height: 18px;
	background: url("../images/chkbox.png") 0 0 no-repeat;
	float: left;
	margin-left: 24px;
	margin-right: -33px;
	margin-top: 4px;
}
.chkbox_checked{
	width: 20px;
	height: 20px;
	background: url("../images/chkbox.png") -18px 0 no-repeat;
	float: left;
	margin-left: 21px;
	margin-right: -33px;
	margin-top: 4px;
}
.chkboxNote{
	line-height: 24px;
	font-size: 14px;
};

.tipsl{
			color: rgba(0, 0, 0, 0.5);
			padding-left: 10px;
			position: absolute;
			margin-top: -36px;
		}
.tips_truel,.tips_falsel{
	padding-left: 10px;
	position: absolute;
	margin-top: -36px;
}
.tips_truel{
	color: green;
	position: absolute;
	margin-top: -36px;
}
.tips_falsel{
	color: red;
	position: absolute;
	margin-top: -37px;
}

.tips{
	color: rgba(0, 0, 0, 0.5);
	padding-left: 5px;
}
.tips_true,.tips_false{
	padding-left: 5px;
	
}
.tips_true{
	color: green;
	}
.tips_false{
	color: red;
}

.g-checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/ico_checkbox.jpg) no-repeat 0 0;
}
.abs {
    position: absolute;
}
.rememberme{
	float:left;
	margin-left:30px;
	height:25px;
	line-height:20px;
}