.all{ width:1130px; margin-left:auto; margin-right:auto;}
.top{}
.left{ float:left; width:910px;}
.right{ float:right; width:203px;}
.hot-nav{ background:url(images/01_03.jpg) no-repeat; color:#008fd7; font-size:18px; padding-left:32px; padding-top:2px; margin-top:20px;}
.list{ margin-left:-18px; overflow:hidden}
.list img{ float:left; margin-left:20px; margin-top:20px;}
.whole{margin-top:20px;}
.whole-nav-font{ background:url(images/01_20.jpg) no-repeat; color:#008fd7; font-size:18px; padding-left:32px; }
.whole-nav-font input{ border:#008fd7 1px solid;}
