.vo {
  background: none;
  color: #666;
}
#header {
  box-shadow: 0 2px 5px #e4e4e4;
}
/*内容样式部分*/
.content {
  margin: 0 auto;
  width: 1100px;
  margin-bottom: 500px;
  display: none;
}
.show {
  display: block;
}
.content h3 {
  width: 100px;
  padding-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  background: url(../images/bg-key.png) left center no-repeat;
}
.content ul {
  margin-top: 20px;
}
.content li {
  display: inline-block;
  width: 256px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: url(../images/bg-arrow.png);
}
.content .li-01 {
  background: url(../images/bg-arrow-02.png);
  color: #fff;
}
.content .li2-01 {
  background: url(../images/bg-arrow-03.png);
  color: #fff;
}
.content .li2-02 {
  background: url(../images/bg-arrow-02.png);
  color: #fff;
}
.content .li3-01 {
  background: url(../images/bg-arrow-03.png);
  color: #fff;
}
.content .li3-02 {
  background: url(../images/bg-arrow-03.png);
  color: #fff;
}
.content .li3-03 {
  background: url(../images/bg-arrow-02.png);
  color: #fff;
}
.content .li4-01 {
  background: url(../images/bg-arrow-03.png);
  color: #fff;
}
.content .li4-02 {
  background: url(../images/bg-arrow-03.png);
  color: #fff;
}
.content .li4-03 {
  background: url(../images/bg-arrow-03.png);
  color: #fff;
}
.content .li4-04 {
  background: url(../images/bg-arrow-02.png);
  color: #fff;
}

.content li:nth-child(2) {
  position: relative;
  left: -20px;
}
.content li:nth-child(3) {
  position: relative;
  left: -40px;
}
.content li:nth-child(4) {
  position: relative;
  left: -60px;
}

.form {
  width: 1100px;
  margin: 100px auto;
  text-align: left;
  padding-left: 350px;
}
.first,
.second {
  margin-top: 20px;
}
.first {
  font-size: 14px;
  color: #333;
}
input[type=tel],
input[type=text] {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
}
input[type=tel]:focus,
input[type=text]:focus {
  border: 1px solid #008fd7;
  box-shadow: 0 0 3px #4dc4ff inset;
}
input[type=button]:active {
  box-shadow: 0 0 3px #4dc4ff inset;
}
input[type=text] {
  width: 100px;
}
.f-03 input,.s-03 input {
  width: 220px;
}
.s-03 {
  margin-left: -28px;
}
button.bt-03 {
  position: relative;
  left: 68px;
}
input[type=text] + img {
  width: 90px; height:40px;
}
input[type=button] {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  font-size: 10px;
  color:#008fd7;
  background: #fff;
  border: 1px solid #008fd7;
  border-radius: 4px;
}
#yanzhen {
  color: #008fd7;
  text-decoration: underline;
  cursor: pointer;
}
.form label {
  font-size: 14px;
  color: #333;
}
.form button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background: #008fd7;
  border: none;
  border-radius: 2px;
  color: #fff;
}
.form button:active {
  background: #0070a9;
}
.form p {
  font-size: 14px;
  color: #f08519;
}
.text {
  padding: 10px;
  margin-top: 100px;
  background: url(../images/duigou.png) 380px center no-repeat;
}
.text p:first-child {
  font-size: 14px;
  color: #333;
}
.text p:last-child {
  font-size: 12px;
  color: #777;
  margin-top: -10px;
}
.text p a {
  color: #008fd7;
}
.text p a:hover {
  text-decoration: underline;
}
