{% extends "project_base.html" %} {%load staticfiles%} {% block js %}
<script type="text/javascript" src="{%static 'js/ajaxfileupload.js'%}"></script>
<script type="text/javascript" src="{%static 'js/echarts.common.min.js'%}"></script>
<script type="text/javascript">
	$.ajaxSetup({
		data: {
			csrfmiddlewaretoken: '{{ csrf_token }}'
		},
	});
	var data = '<table width="100%"><tr><th>立项日期</th><th>项目编号</th><th>项目名称</th>' +
		'<th>商务对接人</th><th>付款总额</th><th>消耗总额</th><th>代收总额</th><th>返现总额</th><th>盈利总额</th><th>项目状态</th>' +
		'</tr>[results]<tr id="parent{uuid}"><td>{time}</td><td>{uuid}</td><td>{name}</td>' +
		'<td>{contact}</td><td>{paid_amount}</td><td>{consume_amount}</td><td>{topay_amount}</td><td>{return_amount}</td><td>{profit}</td>' +
		'<td>{state_des}</td></tr>[/results]</table>';
	var url = "/project/projects/" + "?page={page}";
	var url2 = "/project/projects/";
	
	
	
	
	
	$(document).ready(function() {
		$("li.home15").addClass("show-project").toggleClass("on");
		$("li.home6").toggleClass("show");
		$(".Tin-table tr:even").css("background-color", "#fcfcfc");

		
		$("#pagedata").ajaxPage({
			url: url,
			pageId: $("#page"),
			run: true,
			content: data,
		});
		
		
//		饼状图部分
		var myChart = echarts.init(document.getElementById('main'));
		var myChart2 = echarts.init(document.getElementById('main2'));
		var myChart3 = echarts.init(document.getElementById('main3'));
		option = {
			title: {
				text: '某站点用户访问来源',
				subtext: '纯属虚构',
				x: 'center'
			},
			tooltip: {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			series: [{
				name: '访问来源',
				type: 'pie',
				radius: '55%',
				center: ['50%', '60%'],
				data: [{
						value: 335,
						name: '直接访问'
					},
					{
						value: 310,
						name: '邮件营销'
					},
					{
						value: 234,
						name: '联盟广告'
					},
					{
						value: 135,
						name: '视频广告'
					},
					{
						value: 1548,
						name: '搜索引擎'
					}
				],
				itemStyle: {
					emphasis: {
						shadowBlur: 10,
						shadowOffsetX: 0,
						shadowColor: 'rgba(0, 0, 0, 0.5)'
					}
				}
			}]
		};

		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
		myChart2.setOption(option);
		myChart3.setOption(option);
		//		饼状图部分---end
		
		
		
		
		

	});
</script>
{% endblock js %} {% block right %}
<div class="Need-T">
   <span>项目总览</span>
   <p>当前在线项目<number>0</number>个</p>
   <div class="Need-Cont">
	   	<div id="main" style="width: 300px;height:200px; display: inline-block;"></div>
	    <div id="main2" style="width: 300px;height:200px; display: inline-block;""></div>
	    <div id="main3" style="width: 300px;height:200px; display: inline-block;""></div>
   </div>
</div>

<div class="Need-T">
	<span>每日项目数据</span>
</div>

<div class="Tin-table">
	<div id="pagedata">
	</div>
	<div class="Page-in-admin">
		<div class="page" id="page">
		</div>
	</div>
</div>
{%endblock%} {% block modal %}



<iframe id="myIFrame" scrolling="yes" src="abount:blank" style="display:none" frameborder=1></iframe>
<!--end-->
{% endblock modal %}