{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员奖励</title>
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style-i.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript">
$(function(){
	$('.back-a15').parent().toggleClass("on");
  // 会员等级制度
var progress = document.getElementById("progress");
  var fubi_get = document.getElementById("fubi_get"),
      fubi_need = document.getElementById("fubi_need"),
    fubi_get2 = document.getElementById("fubi_get2"),
//  tast_add = document.getElementById("tast_add"),
//  finance_add = document.getElementById("finance_add"),
    Vip_logo = document.getElementById("Vip_logo"),
    Vip_next = document.getElementById("Vip_next"),
    Vip_next2 = document.getElementById("Vip_next2"),
    Vip_next_hint = document.getElementById("Vip_next_hint");
  var with_total = {{user.with_total}}; //总提现福币
  var with_level = {{user.with_level}}; //当前等级提现福币
  var percent = 0;
  var level = {{user.level}};//VIP等级

  Vip_next.innerText = level + 1;
  Vip_next2.innerText = level + 1;
//percent = parseInt(fubi_num/100000);
//progress.style.width = percent + "%";
  switch(level) {
    case 0:
      fubi_get.innerText = 0;
      fubi_need.innerText = 100000 - with_level;
      fubi_get2.innerText = 2000;
      percent = parseInt(with_level/1000);
      progress.style.width = percent + "%";
      break;
    case 1:
      fubi_get.innerText = 2000;
      fubi_need.innerText = 500000 - with_level;
      fubi_get2.innerText = 5000;
      percent = parseInt(with_level/5000);
      progress.style.width = percent + "%";
      break;
    case 2:
      fubi_get.innerText = 7000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 10000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 3:
      fubi_get.innerText = 17000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 11000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 4:
      fubi_get.innerText = 28000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 12000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 5:
      fubi_get.innerText = 40000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 13000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 6:
      fubi_get.innerText = 53000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 14000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 7:
      fubi_get.innerText = 67000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 15000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 8:
      fubi_get.innerText = 82000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 16000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 9:
      fubi_get.innerText = 98000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 17000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 10:
      fubi_get.innerText = 115000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 18000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 11:
      fubi_get.innerText = 133000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 19000;
      percent = parseInt(with_level/10000);
      console.log(with_level);
      console.log(percent);
      progress.style.width = percent + "%";
      break;
    case 12:
      fubi_get.innerText = 152000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 20000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    case 13:
      fubi_get.innerText = 172000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 20000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
    default:
      fubi_get.innerText = 172000 + (level-13)*20000;
      fubi_need.innerText = 1000000 - with_level;
      fubi_get2.innerText = 20000;
      percent = parseInt(with_level/10000);
      progress.style.width = percent + "%";
      break;
  }
  // 会员等级制度---------end


});
</script>
</head>

<body>
    	<!--头部-->
{% include "header.html" %}
   	<!--内容-->
<div class="Content">
   	<div class="w1250">
			{% include "account/left.html" %}
      <div class="RightCont">
        <div class="vip-head">
          <div class="user-logo">
            <img src="{% static 'images/head.png' %}"/>
            <span id="Vip_logo" class="vip-logo">Lv.{{user.level}}</span>
          </div>
          <p class="vip-right">已提现<span class="fubi-get">{{user.with_total}}</span>福币，会员等级为Lv.<span>{{user.level}}</span>，已获得<span id="fubi_get"></span>福币奖励<br />
          <span id="Vip_next_hint" class="Vip-next-hint">再提现<span id="fubi_need" class="fubi-need"></span>福币，即可升级为Lv.<span id="Vip_next" class="Vip-next"></span>，可获得<span id="fubi_get2"></span>福币奖励</span></p>
          <div id="vip_rank" class="vip-rank">
            <span id="progress" class="progress"></span>
            <span class="fubi-num"></span>
          </div>
          <div><span style="float: left;margin-left: 84px;">Lv.{{user.level}}</span><span>Lv.<span id="Vip_next2"></span></span></div>
        </div>
        <div class="vip-intro">
          <div class="intro-head">
            <h3>会员制度图解</h3>
            <a href="/press/8/">如何提升会员等级<span>?</span></a>
          </div>
          <div class="intro-content">
            <!--<img src="{% static 'images/vip-intro.png' %}"/>-->
            <!--<p>vip等级：{{user.level}}---总共提现福币：{{user.with_total}}----当前等级提现福币：{{user.with_level}}</p>-->
            <table style="width: 94%; height: 180px; margin: 0 auto;" border="" cellspacing="" cellpadding="">
            	<tr>
            	    <th>会员等级</th>
            	    <th>LV.1</th>
            	    <th>LV.2</th>
            	    <th>LV.3</th>
            	    <th>LV.4</th>
            	    <th>LV.5</th>
            	    <th>LV.6</th>
            	    <th>...</th>
            	    <th>LV.13</th>
            	    <th>...</th>
            	    <th>LV.n</th>
            	</tr>
            	<tr>
            	    <td>提现福币</td>
            	    <td>100000</td>
            	    <td>500000</td>
            	    <td>1000000</td>
            	    <td>1000000</td>
            	    <td>1000000</td>
            	    <td>1000000</td>
            	    <td>...</td>
            	    <td>1000000</td>
            	    <td>...</td>
            	    <td>1000000</td>
            	</tr>
            	<tr>
                    <td>升级奖励</td>
                    <td>2000</td>
                    <td>5000</td>
                    <td>10000</td>
                    <td>11000</td>
                    <td>12000</td>
                    <td>13000</td>
                    <td>...</td>
                    <td>20000</td>
                    <td>...</td>
                    <td>20000</td>
                </tr>
            </table>
          </div>
        </div>
        <div class="vip-intro">
          <div class="intro-head">
            <h3>会员制度说明</h3>
          </div>
          <div class="intro-content">
            <p>1、挖福利会员等级进行重新修改，取消理财福利、体验福利的额外奖励</p>
            <p>2、初注册的用户等级为LV.0，会员升级等级不限，提现越多，等级越高，特权越多。</p>
            <p>3、LV.3级会员之后，没体现10,000元可提升一个等级，升级奖励多增加10元。</p>
          </div>
        </div>
      </div>
    </div>
</div>
<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->
  {% include "outline.html" %}
</body>
</html>
