{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>渠道数据提交</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/User.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/account_channel.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script type="text/javascript" src="{%static 'js/ajaxfileupload.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
		<script>

		</script>
	</head>

	<body>
	<!--头部-->
  {% include "header.html" %}
  <!--内容-->
	<div class="Content">
	  <div class="w1100">
	    {% include "account/left.html" %}
			<div class="container-box">
				<div class="content-box">
					<div class="header">
						<h3>选择项目名称</h3>
						<select id="project_select">
							<option value="0">--</option>
							{% for x in flist %}
							    <option value="{{x.id}}">{{x.title}}</option>
							{%endfor%}
						</select>
						<ul id="tab_head" class="tab-head">
							<li class="on">导入数据</li>
							<li>导出数据</li>
						</ul>
					</div>

					<div class="content-in content">
						<div class="upload-box">
							<a class="download-templete" href="/static/download/template.xls">下载表格模版</a>
							<b>支持小于1M的表格文件格式（.xls 和 .xlsx）</b>
							<form id="form" name="form" method="post" action="" enctype="multipart/form-data">
								<input name="userfile" id="choose" type="file" onchange="filechange(this)"/><br/>
								<p class="table-choosed">已选择表格：<span id="hint" class="hint">未选择任何文件</span></p><br />
								<a class="upload-box-btn" id="upload">选择表格</a><a class="upload-box-btn" id="uploadsubmit" >提交表格</a>
							</from>

							<div class="img-mask">
						    <div class="loader-inner ball-triangle-path">
						      <div></div>
						      <div></div>
						      <div></div>
						    </div>
						    <p>文件上传中</p>
							</div>
						</div>
						<h6>注意事项：</h6>
						<p>1、请按项目名称导入数据<br />
						   2、提交的表格需为挖福利提供的表格模版<br />
							3、所有数字需在英文格式下输入<br />
							4、输入日期时，需手动设置单元格格式为“日期”格式，选择“xxxx/xx/xx”类型；<br />
						      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若投资1万元，只能在表格中填纯数字“10000”，不能填“10000元”或者“1万元”；<br />
						      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若投资日期为一个月，<span style="color: #ff6767">只能在表格中填纯数字</span>“30”，不能填“30天”或者“1个月”<br />
						5、上传文件大小需小于1M，若导入数据超过上传大小，建议拆分为多个文件再逐个导入<br />
						6、暂不支持IE浏览器</p>

					</div>
					<div class="content-out content" style="display: none;">
						<input class="export-btn" type="button" name="" id="export" value="导出审核数据" />
						<h6>注意事项：</h6>
						<p>1、请按项目名称导出数据<br />
						   2、数据自动导出成Excel表格</p>
					</div>
				</div>

				<!--表格展示部分-->
				<div class="Welfare">
					<div class="Welfare-T">
						<strong>理财福利</strong>
						<ul class="Welfare-li" id="Swi-Top">
							<li class="on">全部</li>
							<li>已通过</li>
							<li>审核中</li>
							<li>已拒绝</li>
						</ul>
					</div>
					<div class="Welfare-td">
						<div class="tabCon">
		                  <div class="curs">
		                  	<ul id="pagedata">

		                    </ul>
		                  </div>
			            </div>

			            <div class="changes-p">
							<div class="page"  id="page">
			                </div>
			            </div>

					</div>
				</div>
				<div class="popup-box popup-box-01">
				    <div class="popup-content">
				      <h3>表格提交成功</h3>
				      <p id="hint">等待审核中</p>
				      <a id="confirm_submit" class="confirm_submit table-btn" onclick="popupOutSubmit()">确&nbsp;&nbsp;&nbsp;&nbsp;定</a>
				    </div>
				</div>
				<div class="popup-box popup-box-02">
				    <div class="popup-content">
				    	<h3>数据提交成功</h3>
				      <p>提交数据：<span class="data-submit"></span>项</p>
				      <p class="repeat-list">表格重复数据：<span class="data-repeat"></span>项</p>
				      <p>已存在的数据：<span class="data-exist"></span>项</p>
				      <p>有效提交：<span class="data-valid"></span>项</p>
				      <p style="text-align: left;padding-left: 38px;">已存在的数据：<br /><span class="submit-phonenumber"></span></p>
				      <p style="text-align: left;padding-left: 38px;">注：<br/>
				      	已存在的数据：挖福利数据库中已存在，其他用户或自己之前提交过的数据<br />
				      	表格重复数据：提交的表格中的重复项
				      </p>
				      <a id="upload_again" class="upload-again table-btn" onclick="popupOutMistake()">确&nbsp;&nbsp;&nbsp;&nbsp;定</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<iframe id="myIFrame" scrolling="yes" src="abount:blank" style="display:none" frameborder=1></iframe>
		<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->
  {% include "outline.html" %}

		<script type="text/javascript">
			var data = '<table width="100%"><tr><th width="12%">项目</th><th>投资日期</th><th>提交手机号</th><th>投资期限</th>'+
				'<th>投资金额</th><th width="15%">备注</th><th>审核结果</th><th>返现福币</th><th width="12%">拒绝原因</th>'+
				'</tr>[data]<tr><td>{project}</td><td>{invest_time}</td><td>{mobile}</td>'+
				'<td>{invest_term}</td><td>{invest_amount}</td><td>{remark}</td><td>{audit_result}</td>'+
				'<td>{return_amount}</td><td>{refuse_reason}</td></tr>[/data]</table>';
			var url = "{% url 'get_channel_result_page' %}" + "?page={page}&size={pageSize}";
			$('.back-a14').parent().toggleClass("on");
			$("#pagedata").ajaxPage({
			    url:url,
			    pageId:$("#page"),
			    pageSize:10,
			    run:true,
			    content:data,
			});
//			var filechooser = document.getElementById("choose");
			var upload = document.getElementById("upload");
			var hint = document.getElementById("hint");
			upload.onclick = function() {
//				var temp = document.getElementById("choose");
//				alert(temp);
				document.getElementById("choose").click();
				}
			function filechange(that) {
				var aa = that.value.toLowerCase().split('.');
		//		alert(document.getElementById('choose').value);
				if(document.form.userfile.value == "") {
					alert('文件不能为空！');
					return false;
				} else {
					if(aa[aa.length - 1] == 'xls' || aa[aa.length - 1] == 'xlsx') {
						var fileSize = that.files[0].size;
						if(fileSize > 1024 * 1024 * 1) {
							alert("文件大小不能超过1M");
							return false;
						} else {
							hint.innerHTML = that.files[0].name;
						}
					} else {
						alert('请选择excel格式文件');
						return false;
					}
				}
			}
			$('a#uploadsubmit').click(function() {
	    		var fileElementId  = 'choose';
	    		if(!document.getElementById(fileElementId).value){
	    			alert("请先选择上传文件");
	    			return;
	    		}
	   // 		alert(document.getElementById('choose').value);
	    		var fid=$("select#project_select").val();
	    		if (fid=="0"){
	    			alert("请先选择项目");
	    			return;
	    		}
	    		maskIn();
		    	$.ajaxFileUpload({
		            url:'',
		            secureuri:false,
		            fileElementId:fileElementId,//file标签的id
		            dataType: 'json',//返回数据的类型
		            data:{fid:fid},//一同上传的数据
		            success: function (data, status) {
		            	$(".img-mask").css("display", "none");
		            	if (data.code==0){
		            		console.log("yes")

		    						$(".data-submit").text(data.anum);
		    						$(".data-repeat").text(data.dup1);
		    						$(".data-exist").text(data.dup2);
		    						$(".data-valid").text(data.sun);
		    						$(".submit-phonenumber").text(data.dupstr);
		    						// if (data.anum == data.sun) {
		    						// 		$(".repeat-list").hide();
		    						// }
		                popupInMistake();
		            	}
		            	else {
		            		alert(data.msg);
		            	}
		            },
		            error: function (data, status, e) {
		                alert(e);
		            }
		        });
	    	});

			//			选项卡切换
			var tabs=document.getElementById("tab_head").getElementsByTagName("li");
			var contents = $('.content');

			for(var i=0;i<contents.length;i++){
				tabs[i].onclick = function(){
					change(this);
				}

			}
			function change(obj){
				for(var i=0;i<tabs.length;i++){
					if(tabs[i]==obj){
						tabs[i].className="on";
						contents[i].style.display = "block";
					}else{
						tabs[i].className="";
						contents[i].style.display = "none";
					}
				}
			}
			$("#Swi-Top li").click(function(){
				if($(this).attr("class")!="on"){
					$(this).toggleClass("on").siblings().removeClass("on")
					var index = $(this).index();
					$("#page1").empty();
					$("#pagedata").ajaxPage({
					    url:url+"&filter="+index,
					    pageId:$("#page"),
					    pageSize:30,
					    run:true,
					    content:data,
				//	    complete:pagecallback,
					});
				}
		 	});

			$("#Swi-Top li").click(function(){
				if($(this).attr("class")!="on"){
					$(this).toggleClass("on").siblings().removeClass("on")
				}
			});

			// 上传中调用函数
		    function maskIn() {
		        $(".img-mask").css("display", "block");
		    }
		    // 提交成功
		    function popupInSubmit() {
		        $(".popup-box-01").addClass("in");
		    }
			// 提交成功确定
		    function popupOutSubmit() {
		        $(".popup-box-01").removeClass("in");
		    }

		    // 数据异常调用函数
		    function popupInMistake() {
		        $(".popup-box-02").addClass("in");
		    }
			// 再次提交调用函数
		    function popupOutMistake() {
		        $(".popup-box-02").removeClass("in");
		    }
		    $("#export").click(function(){
		    	var fid=$("select#project_select").val();
	    		if (fid=="0"){
	    			alert("请先选择项目");
	    			return;
	    		}
				var html = '<form action="'+"{% url 'export_audit_result' %}"+'" method="get" target="_self" id="postData_form">';
				html += '<input name="fid" type="hidden" value="'+ fid + '"/></form>';
		        var iframe = document.getElementById('myIFrame');
				    iframe.contentWindow.document.open();
				    iframe.contentWindow.document.write(html);
				    iframe.contentWindow.document.close();
				document.getElementById('myIFrame').contentWindow.document.getElementById('postData_form').submit();
			});

		</script>
	</body>

</html>
