{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/lookup_teamback.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
		<title>回款查询</title>
		<style>
			.Page-in{
				position: absolute;
				width: 100%;
			}
			.page{
				background: RGB(245,245,245);
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<!--
            	作者：763008201@qq.com
            	时间：2017-12-26
            	描述：顶部
            -->
			<div class="wrapperTop">
				<span class="team">组队投资</span>
				<select>
					<option value="0">--</option>
					<!--<option>友金所</option>
					<option>美易理财</option>-->
					{% for x in projects %}
					<option value="{{x.id}}">{{x.title}}</option>
					{%endfor%}
				</select>
				<!--<ul class="oprateBox">
					<li class="active">全部</li>
					<li id="passTab">已通过</li>
					<li id="auditTab">审核中</li>
					<li id="refuseTab">已拒绝</li>
				</ul>-->
			</div>
			<!--
            	作者：763008201@qq.com
            	时间：2017-12-26
            	描述：内容部分
           -->
			<div class="contentBox">
				<div id="pagedata">

				</div>
				<div class="Page-in">
					<div class="page" id="page">

					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			$(function(){
				var data = '<table width="100%"><thead><tr><th width="15%">项目</th><th width="15%">投资时间</th>' +
					'<th width="15%">投资金额</th><th width="15%">回款</th><th width="20%">回款时间<th width="20%">回款金额</th></tr></thead><tbody>' +
					'[results]<tr><td>{project}</td><td>{back_date}</td><td>{back_amount}</td><td>{back_date}</td><td>{back_date}</td><td>{back_amount}</td></tr>[/results]' +
					'</tbody></table>';
				
				function pagecallback() {
					console.log("这是一个回调函数");
				}
				var url = "/restapi/backlog/";
				$("#pagedata").ajaxPage({
					url: url,
					pageId: $("#page"),
					pageSize: 6,
					run: true,
					content: data,
					complete: pagecallback,
				});
				
			});
			
		</script>
		
	</body>
</html>
