{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/wfl-common.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/lookup_teamback.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
		<title>回款查询</title>
		<style>
			.Page-in {
				position: absolute;
				width: 100%;
			}
			
			.page {
				background: RGB(245, 245, 245);
			}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<!--
            	作者：763008201@qq.com
            	时间：2017-12-28
            	描述：顶部
            -->
			<div class="wrapperTop">
				<span class="team">组队投资</span>
			</div>
			<!--
            	作者：763008201@qq.com
            	时间：2017-12-28
            	描述：内容部分
           -->
			<div class="contentBox">
				<div id="pagedata"></div>
				<div class="Page-in">
					<div class="page" id="page"></div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(function() {
				var data = '<table width="100%"><thead><tr><th width="20%">项目</th><th width="20%">投资时间</th>' +
					'<th width="20%">投资金额</th><th width="20%">回款时间<th width="20%">回款金额</th></tr></thead><tbody>' +
					'[results]<tr class="index"><td>{project}</td><td>{invest_date}</td><td>{invest_amount}</td><td>{back_date}</td><td>{back_amount}</td></tr>[/results]' +
					'</tbody></table>';

				function pagecallback() {
					console.log("pagecallback是一个回调函数");
				}
				var url = "/restapi/backlog/";
				$("#pagedata").ajaxPage({
					url: url,
					pageId: $("#page"),
					pageSize: 6,
					run: true,
					content: data,
					complete: pagecallback,
				});

			});
		</script>

	</body>

</html>