<!--header-->
{% load staticfiles %}
<div class="header">
    <div class="bgc-333">
        <div class="headertop color-fff clearfix">
            <p class="headertop__welcome l">欢迎来到挖福利，全国首家综合性互联网产品体验超市！客服热线：0731-85586375&nbsp;&nbsp;<a href="#">切换到触屏版</a></p>
            <ul class="r fs-0">

                {% if not user.is_authenticated %}
                <li class="d-ib"><a class="headertop__navitem link" href="{% url 'login' %}">登录</a></li>
                <li class="d-ib"><a class="headertop__navitem link" href="{% url 'register' %}">注册</a></li>
                {% else %}
                <li class="d-ib"><font>您好，<a class="headertop__navitem link" href="{% url 'account_index' %}">{{user.mobile}}</a></li>
                    {%if user.level > 0 %}
                     （VIP{{user.level}}）
                    {%endif%}
                </font>
                <li class="d-ib"><a class="headertop__navitem link" href="{%url 'logout' %}">退出</a></li>
                <!-- <a href="{%url 'account_message' %}">消息中心</a>&nbsp;|&nbsp; -->
                {% endif %}


                <li class="d-ib"><a class="headertop__navitem link" href="{%url 'aboutus' %}#cont=strategy">帮助中心</a></li>
                <li class="d-ib"><a class="headertop__navitem link" href="{%url 'APP_download' %}">app下载</a></li>
            </ul>
        </div>
    </div>
    <div class="headermain-box bgc-fff">
        <div class="headermain clearfix">
            <a href="{% url 'index' %}"><img src="{% static 'images/wafuli-logo.png' %}" alt="logo" class="logo l" /></a>
            <ul class="nav nav-layout l fs-0">
                <li class="nav__itembox d-ib"><a class="nav__item" href="{% url 'index' %}">首页</a></li>
                <li class="nav__itembox subnav-show d-ib">
                    <a class="nav__item" href="#">福利大全</a>
                    <ul class="subnav welfare-subnav">
                        <li><a class="subnav__item link" href="{% url 'welfare_list' %}">红包福利</a></li>
                        <li><a class="subnav__item link" href="#">福利购</a></li>
                    </ul>
                </li>
                <li class="nav__itembox subnav-show d-ib">
                    <a class="nav__item" href="#">赚点钱</a>
                    <ul class="subnav">
                        <li><a class="subnav__item link" href="{% url 'task' %}">任务赚</a></li>
                        <li><a class="subnav__item link" href="{% url 'finance' %}">p2p返利</a></li>
                        <li><a class="subnav__item link" href="#">借点钱</a></li>
                        <li><a class="subnav__item link" href="#">信用卡</a></li>
                    </ul>
                </li>
                <li class="nav__itembox d-ib"><a class="nav__item" href="{% url 'mall' %}">积分商城</a></li>
                <li class="nav__itembox d-ib"><a class="nav__item" href="{% url 'account_index' %}">个人中心</a></li>
            </ul>
        </div>
    </div>
</div>
<!--header---end-->
