{% load staticfiles %}

  <ul id="online">
      <li class="qq"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=122142551&site=qq&menu=yes""><!-- <img src="{% static 'images/icon-4.png' %}" alt="qq"/> --><span>QQ客服</span></a></li>
      <li class="weixin"><a target="_blank href="//shang.qq.com/wpa/qunwpa?idkey=34f2461e64f2fb28ac36d1eab0d303760c68cdff632c46f62bd8abda313e30dc"><!-- <img src="{% static 'images/icon-5.png' %}" alt="weixin"/> --><span>加入QQ群</span></a></li>
      <li class="top"><a href="javascript:;" onclick="$('body,html').animate({scrollTop:0},600);"><!-- <img src="{% static 'images/top.png' %}" alt="top"/> <--><span></span></--></a></li>
   </ul>
