{% load staticfiles %}

  <ul id="online">
      <li class="qq"><a target="_blank" href="javascript:;"><span>QQ<br/>客服</span></a></li>
      <div class="qq-detail">
          <a  class="qq-free" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2339019773&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2339019773:2" alt="免费福利客服" />免费福利客服</a>
          <a class="qq-task" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=281238082&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:281238082:2" alt="体验福利客服" />体验福利客服</a>
          <a class="qq-finance" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=470393601&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:470393601:2" alt="理财福利客服" />理财福利客服</a>
          <!-- <a class="qq-free" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=122142551&site=qq&menu=yes">免费福利客服</a> -->
          <!-- <a class="qq-task" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=122142551&site=qq&menu=yes">体验福利客服</a> -->
          <!-- <a class="qq-finance" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=122142551&site=qq&menu=yes">理财福利客服</a> -->
      </div>
      <li class="weixin"><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=34f2461e64f2fb28ac36d1eab0d303760c68cdff632c46f62bd8abda313e30dc"><!-- <img src="{% static 'images/icon-5.png' %}" alt="weixin"/> --><span>加入<br/>QQ群</span></a></li>
      <li class="top"><a href="javascript:;" onclick="$('body,html').animate({scrollTop:0},600);"><!-- <img src="{% static 'images/top.png' %}" alt="top"/> <--><span>回到<br/>顶部</span></--></a></li>
   </ul>
