{% load staticfiles %}
<!--footer部分-->
<div class="footer">
    <div class="wfl-wrap m-footer">
        <div class="footer__friend-link">友情链接：
            <a class="footer__friend-item" rel="external nofollow" href="http://www.quanmama.com/" target="_blank">券妈妈</a>
            <a class="footer__friend-item" rel="external nofollow" href="http://www.domob.cn/" target="_blank">多盟</a>
            <a class="footer__friend-item" rel="external nofollow" href="http://www.wdzj.com/" target="_blank">网贷之家</a>
            <a class="footer__friend-item" rel="external nofollow" href="https://www.ebeboo.com" target="_blank">e贝宝</a>
        </div>
        <ul class="footer__columnbox">
            <li class="footer__column">
                <h2 class="footer__column-title">关于我们</h2>
                <ul class="footer__columnitem-box">
                    <li>
                        <a class="footer__link-item" href="/aboutus/">公司简介</a>
                    </li>
                    <li>
                        <a class="footer__link-item" href="/aboutus/">团队介绍</a>
                    </li>
                    <li>
                        <a class="footer__link-item" href="/sitemap/">网站地图</a>
                    </li>
                    <li>
                        <a class="footer__link-item" href="/aboutus/#cont=contact">联系我们</a>
                    </li>
                </ul>
            </li>
            <li class="footer__column">
                <h2 class="footer__column-title">帮助中心</h2>
                <ul class="footer__columnitem-box">
                    <li>
                        <a class="footer__link-item" href="/freshman/introduction/">新手入门</a>
                    </li>
                    <li>
                        <a class="footer__link-item" href="/freshman/award/">邀请奖励</a>
                    </li>
                    <li>
                        <a class="footer__link-item" href="/aboutus/#cont=strategy">福利攻略</a>
                    </li>
                    <li>
                        <a class="footer__link-item" href="/aboutus/#cont=exchange_help">兑换帮助</a>
                    </li>
                </ul>
            </li>
            <li class="footer__column">
                <h2 class="footer__column-title">福利QQ群</h2>
                <ul class="footer__columnitem-box">
                    <li>挖福利官方总群：377351502</li>
                    <li>挖福利官方群1（免费福利）：479560713</li>
                    <li>挖福利官方群2（体验福利）：334255911</li>
                    <li>挖福利官方群3（理财福利）：641251216</li>
                </ul>
            </li>
            <li class="footer__column">
                <h2 class="footer__column-title">在线客服</h2>
                <h3 class="footer__phone">0731-85586375</h3>
                <span>( 服务时间 9:00~22:00 )</span>
            </li>
            <li class="footer__column m-weixin">
                <h2 class="footer__column-title">挖福利官方微信</h2>
                <div class="footer__weixin"><img class="footer__weixin-img" src="images/code.jpg" alt="微信二维码" width="123" height="123"></div>
            </li>
        </ul>
        <div class="footer__Copyright">Copyright&nbsp; © 2015-2024&nbsp; 挖福利 版权所有 备案号：湘ICP备15015815号-2
            <span class="footer__iconbox">
                <a href="#"><img class="footer__iconimg" src="images/icon-1.png" alt=""></a>
                <a href="#"><img class="footer__iconimg" src="images/icon-2.png" alt=""></a>
                <a href="#"><img class="footer__iconimg" src="images/icon-3.png" alt=""></a>
            </span>
        </div>
    </div>
</div>
<!--footer部分---end-->
<!--contact部分-->
<ul class="contact">
  <li class="contact__itembox">
      <a class="contact__qq contact__item" target="_blank" href="javascript:;"><span class="contact__item-txt">QQ<br/>客服</span></a>
      <div class="contact__show m-qq">
          <a  class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2339019773&site=qq&menu=yes">
              <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="免费福利客服" />
              <span class="contact__show-name">免费福利客服</span>
          </a>
          <a class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3327058376&site=qq&menu=yes">
              <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:3327058376:52" alt="体验福利客服" />
              <span class="contact__show-name">体验福利客服</span>
          </a>
          <a class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2468016671&site=qq&menu=yes">
              <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2468016671:52" alt="理财福利客服" />
              <span class="contact__show-name">理财福利客服</span>
          </a>
      </div>
  </li>
  <li class="contact__itembox">
      <a class="contact__weixin contact__item" target="_blank" href="javascript:;"><span class="contact__item-txt">加入<br/>QQ群</span></a>
      <div class="contact__show m-group">
          <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=ede716c292b3169b840ddd58778f17bc124efce83022365731f7c29ce2d22e7f">
              <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
              <span class="contact__show-name">免费福利群</span>
          </a>
          <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=3835251b8bc58f6277bcdfce3a12538586542df8a432cf799ed7c67bd56fdc9f">
              <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
              <span class="contact__show-name">体验福利群</span>
          </a>
          <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=bb1d17133b125893edd6e1467ef1ff9dd5edd0355ad6b525f208ebbe48fffce5">
              <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
              <span class="contact__show-name">理财福利群</span>
          </a>
      </div>
  </li>
  <li class="contact__top contact__item"><a class="contact__totop" href="javascript:;" onclick="$('body,html').animate({scrollTop:0},600);"><!-- <img src="{% static 'images/top.png' %}" alt="top"/> <--><span class="contact__item-txt">回到<br/>顶部</span></--></a></li>
   </ul>
   <!--contact部分---end-->

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"slide":{"type":"slide","bdImg":"0","bdPos":"left","bdTop":"106.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?967fce306a35a615082120cd7cf7d616";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>