<!--header-->
<div class="header">
    <div class="bgc-333">
        <div class="headertop color-fff clearfix">
            <p class="headertop__welcome l">欢迎来到挖福利，全国首家综合性互联网产品体验超市！客服热线：0731-85586375&nbsp;&nbsp;<a href="#">切换到触屏版</a></p>
            <ul class="r fs-0">
                <li class="d-ib"><a class="headertop__navitem link" href="#">登录</a></li>
                <li class="d-ib"><a class="headertop__navitem link" href="#">注册</a></li>
                <li class="d-ib"><a class="headertop__navitem link" href="#">帮助中心</a></li>
                <li class="d-ib"><a class="headertop__navitem link" href="#">app下载</a></li>
            </ul>
        </div>
    </div>
    <div class="headermain-box bgc-fff">
        <div class="headermain clearfix">
            <img src="images/wafuli-logo.png" alt="logo" class="logo l" />
            <ul class="nav nav-layout l fs-0">
                <li class="nav__itembox d-ib"><a class="nav__item" href="#">首页</a></li>
                <li class="nav__itembox subnav-show d-ib">
                    <a class="nav__item" href="#">福利大全</a>
                    <ul class="subnav welfare-subnav">
                        <li><a class="subnav__item link" href="#">红包福利</a></li>
                        <li><a class="subnav__item link" href="#">福利购</a></li>
                    </ul>
                </li>
                <li class="nav__itembox subnav-show d-ib">
                    <a class="nav__item" href="#">赚点钱</a>
                    <ul class="subnav">
                        <li><a class="subnav__item link" href="#">任务赚</a></li>
                        <li><a class="subnav__item link" href="#">p2p返利</a></li>
                        <li><a class="subnav__item link" href="#">借点钱</a></li>
                        <li><a class="subnav__item link" href="#">信用卡</a></li>
                    </ul>
                </li>
                <li class="nav__itembox d-ib"><a class="nav__item" href="#">积分商城</a></li>
                <li class="nav__itembox d-ib"><a class="nav__item" href="#">关于我们</a></li>
                <li class="nav__itembox d-ib"><a class="nav__item" href="#">个人中心</a></li>
            </ul>
        </div>
    </div>
</div>
<!--header---end-->