{% extends "detail-base.html" %}
{% load staticfiles %}
{% block jsblock %}
<script type="text/javascript">
{%if news.isonMobile %}
var ismobile = true;
{%else%}
var ismobile = false;
var url_openwindow = "{% url 'exp_welfare_openwindow' %}"
{%endif%}
$(function(){
	var ahref = $("a.login").attr("href");
	ahref += "?next="+this_url;
	$("a.login").attr("href",ahref);
	$("button.te-mo").click(function(){
		if(ismobile){
			$.ajax({
				url:"{%url 'exp_welfare_erweima' %}?id=" + id + "&type=" + type,
				dataType:"json",
				success:function(ret){
					if(ret.code==0){
						alert("请先登录！")
						window.location.href = ret.url;
					}
					else if(ret.code==1){
						$('img#erweima').attr('src',ret.url);
						$('#myReModal').modal();
					}
				},
				error:function(){
					alert("请检查网络连接");
				}
			});
		}
		else {
			window.open(url_openwindow + "?id=" + id + "&type=" + type);
		}

	});
	$("button.td-tj").click(function(){
		var telnum = $('input#telnum').val();
		telnum = telnum.replace(/(^\s*)|(\s*$)/g, "");
		$('input#telnum').val(telnum);
		var remark = $('input#remark').val();
		var re=/^1[1,2,3,4,6,5,7,8,9]\d{9}$/;
		if(!re.test(telnum)){
			alert("手机号格式不正确！")
			return;
		}
		var amount = parseFloat($('input#amount').val());
		if(isNaN(amount)){
			alert("投资金额必须为数字！")
			return;
		}
		var term = $('input#term').val();
		if(!term){
			alert("请输入投资标期！")
			return;
		}
		$('#myModal').modal();
	});
	$("a#confirm").click(function(){
		var telnum = $('input#telnum').val();
		var remark = $('input#remark').val();
		var amount = parseFloat($('input#amount').val());
		var term = $('input#term').val();
		$.ajax({
			url:"{%url 'expsubmit_finance' %}",
			type:'post',
			data:{
				type:type,
				id:id,
				term:term,
				telnum:telnum,
				remark:remark,
				amount: amount
			},
			dataType:"json",
			success:function(ret){
				if(ret.code==0){
					alert("请先登录！")
					window.location.href = ret.url;
				}
				else {
					$('#myModal').modal("hide");
					alert(ret.msg);
				}
			},
			error:function(){
				alert("请检查网络连接");
			}
		});
	});
});
</script>

{%endblock%}
{%block expblock%}
  <!-- <div class="td-ti">
  	<div style="max-width:500px;max-height:175px;float:left;overflow:hidden"><img src="{{news.pic.url}}" style="padding:10px"></img></div>
    <div class="td-inimg">
    	<p class="tli-title td-tij">{{news.title}}</p>
        <p class="td-p">
        {% if not user.is_authenticated %}
        	<span><a href="{%url 'register' %}"  style="color:#0090D7;">注册</a></span>&nbsp;或&nbsp;<span>
        	<a class="login" href="{%url 'login' %}"  style="color:#0090D7;">登陆</a>&nbsp;</span>
			挖福利体验,完成后请刷新本页,查看最新状态
		{% else %}
        	请认真阅读下面的奖励规则和体验步骤后再点击“立即体验”
        {% endif %}
        </p>
        {% if not news.is_expired %}
        <button class="md-trigger te-mo">立即体验</button>
        {% else %}
        <button class="te-moe">已结束</button>
        {% endif %}
    </div>
  </div> -->
  <div class="finance-top">
    <div class="finance-info">
      <div class="finance-logo">
        <img src="../images/business-logo.jpg" /><span>这是标签</span><span>标签</span><span>小标签</span>
      </div>
      <div id="text_box" class="text-box">
        <p id="intro" class="introduction">介绍这里是产品简单介绍介绍这里是产品简单介绍介绍这里简单介绍介绍这里是产品简单介绍介绍这里是产品简单介绍介绍这里简单介绍</p>
      </div>
      <p class="taste-btn">
        {% if not news.is_expired %}
        <button class="md-trigger te-mo">立即体验</button>
        {% else %}
        <button class="te-moe">已结束</button>
        {% endif %}
        <a href="#">信息登记</a>
      </p>
    </div>
    <div class="finance-bg">
      <p><span>平台背景</span><span>民营系</span></p>
      <p><span>注册资本</span><span>1000万</span></p>
      <p><span>上线时间</span><span>2017-01-12</span></p>
      <p><span>是否银行存管</span><span>是</span></p>
      <p><span>ICP号</span><span>12345678</span></p>
    </div>
  </div>

  <!-- <div class="td-msg">
  	<div class="msg-ti"><img src="{% static 'images/task-02.png' %}" class="ms-pd"/><span class="mag-pp">信息登记</span></div>
   	<div class="ma-div">注册手机号：<input type="text" placeholder="输入您的手机号，若有多个请分别提交" class="ms-input" id='telnum'/></div>
    <div class="ma-div">投资金额：<input type="text" placeholder="输入您的投资金额（数字格式）" class="ms-input" id='amount'/></div>
    <div class="ma-div">投资标期：<input type="text" placeholder="输入您的投资标期" class="ms-input" id='term'/></div>
    <div class="ma-div3">备注：<input type="text" placeholder="可不填" class="ms-input" id='remark'/></div>
    <p class="td-yy"><button class="md-trigger td-tj">提交</button></p>
    <div class="clearboth"></div>
  </div> -->
  <div class="popup-box popup-box-02 in">
    <div class="td-msg popup-content finance-popup">
      <div class="ma-div">注册手机号：<input type="text" placeholder="输入您的手机号，若有多个请分别提交" class="ms-input" id="telnum"></div>
      <div class="ma-div">投资金额：<input type="text" placeholder="输入您的投资金额（数字格式）" class="ms-input" id="amount"></div>
      <div class="ma-div">投资标期：<input type="text" placeholder="输入您的投资标期" class="ms-input" id="term"></div>
      <div class="ma-div3">备注：<input type="text" placeholder="可不填" class="ms-input" id="remark"></div>
      <p class="td-yy"><button class="md-trigger td-tj">提交</button></p>
      <div class="clearboth"></div>
    </div>
  </div>

  <div class="td-msgs">
     此处上传理财表格
  </div>
{%endblock%}
  <div class="td-msgs">
     <div class="msg-ti"><img src="{% static 'images/task-03.png' %}" class="ms-pd"/><span class="mag-pp">注意事项</span></div>
     <div class="detail-html">{{news.rules|safe}}</div>
  </div>
  <div class="td-msgs">
    <div class="detail-html">
      <a class="contact" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=34f2461e64f2fb28ac36d1eab0d303760c68cdff632c46f62bd8abda313e30dc">加入QQ群</a>
      <a class="contact" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=122142551&site=qq&menu=yes">联系客服</a>
    </div>
  </div>
  {% block hintblock %}
  <div class="td-msgs">
    <div class="msg-ti"><img src="{% static 'images/task-05.png' %}" class="ms-pd"/><span class="mag-pp">温馨提示</span></div>
        <p class="hy-p">1、为了让您畅快的享受福利，请您务必按照体验步骤详情操作，并在完成后返回本页面<span style="color:#ff6767">提交相关数据</span>，以便工作人员进行数据审核，发放相应福利；</p>
        <p class="hy-p">2、用户提交数据后，挖福利工作人员将在48小时内完成审核，并发放相应奖励至用户账户；</p>
        <p class="hy-p">3、用户赚取的福币可在个人中心以100：1的比例兑换成现金并提现至支付宝账户（100个福币兑换成1元现金）； 积分则可在积分商城兑换相应的奖品；</p>
        <p class="hy-p">4、投资有风险，入市需谨慎；挖福利尽最大可能的提供最优质的理财渠道、筛选有诚信的合作平台，但是挖福利不对合作平台提供任何的风险担保；</p>
        <p class="hy-p">5、挖福利对福利数据的审核具有最终解释权。</p>
        <p class="hy-p">如有疑问请联系<span><a href="#" style="color:#F08618;">在线客服</a></span>或拨打 <span style="color:#F08618;">服务热线：0734-8344414</span></p>
  </div>
  {% endblock %}

