{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>理财福利，互联网理财平台。</title>
<meta name="keywords" content="P2P理财,P2P网贷,投资理财,网络理财,网络投资,小额投资理财,如何投资理财,个人理财,家庭理财,挖福利" />
<meta name="description" content="挖福利是一个优质的互联网理财平台！让你感受到不一样的金融理财。" />
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/welfare.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/finance.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />

<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.infiniteCarousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/MSClass.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript">
// var data='[data]<li class="lc-li">'+
// 	'<h2 class="lc-h2 {is_new}">{title}{marks}</h2>'+
// 	'<span class="lo-span"><p>官网利息</p><p class="lp-p">{interest}</p></span>'+
// 	'<span class="lo-spans"><p>起投金额</p><p style="color:#111;line-height:50px;">{amount}</p></span>'+
// 	'<span class="lo-spans"><p>标期长度</p><p style="color:#111;line-height: 50px;">{time}</p></span>'+
// 	'<span class="lo-spans"><p>补贴收益</p><p style="color:#FE0000;line-height: 50px;">+{benefit}</p></span>'+
// 	'<span class="lo-spans"><p>预计年化收益</p><p style="color:#FE0000;line-height: 50px;">{revenue}</p></span>'+
// 	'<span style="float: right;"><a target="_blank" href="{url}" class="lo-ap">立即投资</a></span></li>[/data]';

  var data='[data]<div class="item-content">'+
  '<img src="{{img_url}}" alt="商家logo" />'+
  '<p class="item-name">{title}{marks}</p>'+
  '<p class="item-interest">官网利息<span>{interest}</span></p>'+
  '<p class="item-invest">起投金额<span>{amount}</span></p>'+
  '<p class="item-date">标期长度<span>{time}</span></p>'+
  '<p class="item-profit">补贴收益<span>+{benefit}</span></p>'+
  '<p class="item-year">预计年化收益<span>{revenue}</span></p>'+
  '<a class="item-btn" href="#">立即投资</a></div>[/data]';
// <div class="item-content">
//   <img src="images/company-logo01.jpg" alt="商家logo" />
//   <p class="item-name">美易理财二期<span class="mark">首投</span><span class="mark">高收益</span><span class="mark">国资系</span></p>
//   <p class="item-interest">官网利息<span>20%</span></p>
//   <p class="item-invest">起投金额<span>20%</span></p>
//   <p class="item-date">标期长度<span>30天</span></p>
//   <p class="item-profit">补贴收益<span>+1000福币</span></p>
//   <p class="item-year">预计年化收益<span>38.87%</span></p>
//   <a class="item-btn" href="#">立即投资</a>
// </div>
var url = "{% url 'get_finance_page' %}" + "?page={page}&size={pageSize}&";
function pagecallback(){
	$(".lc-h2.new").append('<img src="/static/images/new_cont.png" class="new_cont2">');
}
var textarray=[];
function getText(n) {
	 if (textarray[n-1])
		 return textarray[n-1];
	 else
		 return n;
}
$(function(){
   	// $('.finan_h a').toggleClass("vo");

  var newurl = url;
  var index = "0",
    index_text;
  var company_name = "0",
    company_background = "0",
    invest_account = "0",
    project_type = "0",
    project_status = "0";

  $(".fiter-item-container li").click(function() {
    var parent = $(this).parent(".filter-item");
    if($(parent).hasClass("company-name")) {
      index = $(this).index();
      var text_item_box = [];
      if($(this).index() == "0") {
        $(this).addClass("on").siblings().removeClass("on");
        text_item_box.push($(this).children().text());
        company_name = "0";
      } else {
        $(".company-name li:first").removeClass("on");
        $(this).toggleClass("on");

        var item_choose = $(".company-name li.item.on");
        for(var i = 0; i < item_choose.length; i++) {
          text_item = tounicode($(item_choose[i]).children().text());
          text_item_box.push(text_item);
        }
        if($(".company-name li.item.on").length == 0) {
          $(".company-name li:first").addClass("on");
          text_item_box = [];
          text_item_box.push($(".company-name li:first").children().text());
        }
        company_name = text_item_box.join('$');
      }
    }

    if($(parent).hasClass("company-background")) {
      $(this).addClass("on").siblings().removeClass("on");
      index = $(this).index();
      switch (index){
        case 1:
          index_text = tounicode("民营系");
          break;
        case 2:
          index_text = tounicode("国资系");
          break;
        case 3:
          index_text = tounicode("上市系");
          break;
        default:
          index_text = "0";
          break;
      }
      var text_item = $(this).children().text();
      company_background = index_text;
    }

    if($(parent).hasClass("invest-count")) {
      $(this).addClass("on").siblings().removeClass("on");
      index = $(this).index();
      switch (index){
        case 1:
          index_text = tounicode("首投");
          break;
        case 2:
          index_text = tounicode("复投");
          break;
        default:
          index_text = "0";
          break;
      }
      var text_item = $(this).children().text();
      invest_account = index_text;
    }

    if($(parent).hasClass("project-type")) {
      $(this).addClass("on").siblings().removeClass("on");
      index = $(this).index();
      var text_item = $(this).children().text();
      project_type = index;
    }

    if($(parent).hasClass("project-status")) {
      $(this).addClass("on").siblings().removeClass("on");
      index = $(this).index();
      var text_item = $(this).children().text();
      project_status = index;
    }
    newurl=url + "&company_name=" + company_name + "&company_background=" + company_background + "&invest_account=" + invest_account + "&project_type=" + project_type + "&project_status=" + project_status;
    console.log(newurl)

  	$("#pagedata1").ajaxPage({
  	    url:newurl,
  	    pageId:$("#page1"),
  	    pageSize:8,
  	    run:true,
  	    content:data,
  	    complete:pagecallback,
  	});
    $(".more-box").click(function(){
      $(this).toggleClass("more");
      $(".filter-box-company").toggleClass("more");
    })
  })


 	// $("#tab li").click(function(){
		// if($(this).attr("class")!="cur"){
		// 	$(this).toggleClass("cur").siblings().removeClass("cur")
		// 	var index = $(this).index();
		// 	$("#page1").empty();
		// 	$("#pagedata1").ajaxPage({
		// 	    url:url+"state=1&filter="+index,
		// 	    pageId:$("#page1"),
		// 	    pageSize:5,
		// 	    run:true,
		// 	    content:data,
		// 	    complete:pagecallback,
		// 	});
		// }
 	// });

    $('.flexslider').flexslider({
           directionNav: true,
           pauseOnAction: false
    });

});

function tounicode(data) {
   if(data == '') return '请输入汉字';
   var str ='';
   for(var i=0;i<data.length;i++)
   {
      str+="\\u"+parseInt(data[i].charCodeAt(0),10).toString(16);
   }
   return str;
}
</script>
</head>
<body>
{% include "header.html" %}
<div id="content">
  <div id="index-banner">
    <div class="flexslider">
      <ul class="slides">
      {% for adv in ad_list %}
        <li onclick="location='{{adv.url}}'" style="background:url({{adv.pic.url}}) 50% 0 no-repeat;cursor:pointer;"></li>
        <script>textarray.push("{{adv.navigation}}");</script>
      {%endfor%}
      </ul>
    </div>
  </div>      <!-- index-banner-end-->

  <div class="fiter-item-container">
    <div class="fiter-title">
      <h2>筛选平台</h2>
      <p>若您想要更稳健的理财项目<a href="#">请点这里</a></p>
    </div>
    <div class="fiter-content">
      <div class="filter-box-company">
        <div class="filter-box-name">
          平台名称：
        </div>
        <ul class="filter-item company-name">
          <li class="on">
            <a href="javascript:void(0);">全部</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">美易理财</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">德鸿金融</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">星火钱包</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">拍拍贷</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">一号钱庄</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">金融工厂</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">银豆网</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">绿能宝</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">小诺理财</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">银豆网</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">绿能宝</a>
          </li>
          <li class="item">
            <a href="javascript:void(0);">小诺理财</a>
          </li>
        </ul>
        <div class="more-box">【<a class="more-company">展开全部平台</a>】</div>
      </div>
      <div class="filter-box-company">
        <div class="filter-box-name">
          平台背景：
        </div>
        <ul class="filter-item company-background">
          <li class="on">
            <a href="javascript:void(0);">不限</a>
          </li>
          <li>
            <a href="javascript:void(0);">民营系</a>
          </li>
          <li>
            <a href="javascript:void(0);">国资系</a>
          </li>
          <li>
            <a href="javascript:void(0);">上市系</a>
          </li>
        </ul>
      </div>

      <div class="filter-box-company">
        <div class="filter-box-name">
          投标次数：
        </div>
        <ul class="filter-item invest-count">
          <li class="on">
            <a href="javascript:void(0);">不限</a>
          </li>
          <li>
            <a href="javascript:void(0);">首投</a>
          </li>
          <li>
            <a href="javascript:void(0);">复投</a>
          </li>
        </ul>
      </div>

      <div class="filter-box-company">
        <div class="filter-box-name">
          项目分类：
        </div>
        <ul class="filter-item project-type">
          <li class="on">
            <a href="javascript:void(0);">不限</a>
          </li>
          <li>
            <a href="javascript:void(0);">新手投资</a>
          </li>
          <li>
            <a href="javascript:void(0);">稳健投资</a>
          </li>
        </ul>
      </div>

      <div class="filter-box-company">
        <div class="filter-box-name">
          项目状态：
        </div>
        <ul class="filter-item project-status">
          <li class="on">
            <a href="javascript:void(0);">不限</a>
          </li>
          <li>
            <a href="javascript:void(0);">正在进行</a>
          </li>
          <li>
            <a href="javascript:void(0);">已结束</a>
          </li>
        </ul>
      </div>
    </div>

  </div>  <!--fiter-item-container-end-->

  <div id="pagedata1" class="item-container">

  </div>
  <div class="changes-p">
      <div class="page"  id="page1">
      </div>
  </div>
</div>
<div style="clear:both"></div>
<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->
  {% include "outline.html" %}


</body>
</html>
