{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>福利资讯-挖福利</title>
<meta name="keywords" content="福利,福利资讯,福利最新信息" />
<meta name="description" content="挖福利资讯，挖福利资讯24小时提供免费福利资讯、理财资讯、
金融行业资讯、理财科普，福利聚焦，福利资讯刷不停，大参考、第一解读、谈兵论战提供大智慧和犀利观点。" />
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'css/index.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'css/information.css'%}" type="text/css" rel="stylesheet">

</head>

<body>
  {% include "header.html" %}

<div class="search">
    <div>当前位置：<a href="{% url 'index' %}">挖福利</a> > <a href="{% url 'information_list' %}">福利资讯</a> > 
    <a href="{% url 'information_list' type='wahuodong' %}">挖活动</a></div>
</div>
<!-- 内容 -->
<div class="content-box">
<div class="all">
 <div class="left">
   <div class="left_box">
     <div class="left_box_nav">
       <a>全部资讯</a>
       <a>挖行情</a>
       <a>挖故事</a>
       <a>挖数据</a>
       <a>挖活动</a>
     </div>
 <div class="partition">
 </div>
   <div class="left_box_children">
   {%for info in info_list%}
     <div class="small_box">
      <img src="{{info.pic.url}}">
      <div class="small_box_children">
       <a>{{info.get_type_display}}</a>
       <h1>{{info.title}}</h1>
       <p>{{info.summary}}</p>
      </div>
     </div>
    {%endfor%}
        {% if info_list.paginator.num_pages >= 2 %}
  <div class="item_con_pager">
            <div class="pager_container">
            {% if info_list.number != 1 %}
				<a href="{{page_dic.pre_path}}list-page{{info_list.previous_page_number}}{{page_dic.suf_path}}" class="page_no" >上一页</a>
			{% else %}
				<a class="page_no pager_prev_disabled">上一页</a>
			{% endif %}
			{% for i in page_dic.page_list %}
				{% if i == "..." %}
					...
				{% elif i == info_list.number %}
					<a class="page_no pager_is_current">{{i}}</a>
				{% else %}
					<a href="{{page_dic.pre_path}}list-page{{i}}{{page_dic.suf_path}}" class="page_no">{{i}}</a>
				{% endif  %}
			{% endfor %}
			{% if info_list.number != info_list.paginator.num_pages %}
				<a href="{{page_dic.pre_path}}list-page{{info_list.next_page_number}}{{page_dic.suf_path}}" class="page_no" >下一页</a>
			{% else %}
				<a class="page_no pager_prev_disabled">下一页</a>
			{% endif %}

             </div>
        </div>
  {%endif%}
   </div>
   </div>
 </div>
 <div class="right">
   <div class="right-top">
     <div class="right-top-nav">本周热点</div>
    {%for info in hot_info_list%}
      {%if forloop.counter < 4%}
     <p><span class="circle1">{{forloop.counter}}</span><span class="text1">{{info.title}}</span></p>
      {%else%}
      <p><span class="circle2">{{forloop.counter}}</span><span class="text2">{{info.title}}</span></p>
      {%endif%}
	{%endfor%}
   </div>
   <div class="right-middle">
    {%for wel in hot_wel_list%}
      {%if forloop.counter < 4%}
     <p><span class="circle1">{{forloop.counter}}</span><span class="text1">{{wel.title}}</span></p>
      {%else%}
      <p><span class="circle2">{{forloop.counter}}</span><span class="text2">{{wel.title}}</span></p>
      {%endif%}
	{%endfor%}
   </div>
 </div>

</div>
</div>
        <!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->  
  {% include "outline.html" %}
</body>
</html>
