{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>福利资讯-挖福利</title>
<meta name="keywords" content="福利,福利资讯,福利最新信息" />
<meta name="description" content="挖福利资讯，挖福利资讯24小时提供免费福利资讯、理财资讯、
金融行业资讯、理财科普，福利聚焦，福利资讯刷不停，大参考、第一解读、谈兵论战提供大智慧和犀利观点。" />
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'css/index.css'%}" type="text/css" rel="stylesheet">
<link href="{% static 'css/information.css'%}" type="text/css" rel="stylesheet">

</head>

<body>
  {% include "header.html" %}

<div class="search">
    <div>当前位置：<a href="{% url 'index' %}">挖福利</a> > <a href="{% url 'information_list' %}">福利资讯</a> > 
    <a href="{% url 'information_list' type='wahuodong' %}">挖活动</a></div>
</div>
<!-- 内容 -->
<div class="content-box">
<div class="all">
 <div class="left">
   <div class="left_box">
     <div class="left_box_nav">
       <a>全部资讯</a>
       <a>挖行情</a>
       <a>挖故事</a>
       <a>挖数据</a>
       <a class="not">挖活动</a>
     </div>
 <div class="partition">
 </div>
   <div class="left_box_children">
     <div class="small_box">
      <img src="{% static 'images/01_09.png'%}">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="{% static 'images/01_09.png'%}">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="{% static 'images/01_09.png'%}">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="{% static 'images/01_09.png'%}">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="{% static 'images/01_09.png'%}">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="{% static 'images/01_09.png'%}">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="item_con_pager">
            <div class="pager_container">
                 <a rel="nofollow" href="javascript:;" class="page_no pager_prev_disabled" data-index="">上一页</a>
                 <a rel="nofollow" href="javascript:;" class="page_no pager_is_current" data-index="1">1</a>
                 <a class="page_no" data-index="2">2</a>
                 <a class="page_no" data-index="3">3</a>
                 <a class="page_no" data-index="10">10</a>
                 <a class="page_no" data-index="2">下一页</a>
             </div>
      </div>
   </div>
   </div>
 </div>
 <div class="right">
   <div class="right-top">
     <div class="right-top-nav">本周热点</div>
     <p><span class="circle1">1</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle1">2</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle1">3</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle2">4</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">5</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">6</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">7</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">8</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">9</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">10</span><span class="text2">人设部终于回应五个问题</span></p>
   </div>
   <div class="right-middle">
     <div class="right-top-nav">福利活动</div>
     <p><span class="circle1">1</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle1">2</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle1">3</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle2">4</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">5</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">6</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">7</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">8</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">9</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">10</span><span class="text2">人设部终于回应五个问题</span></p>
   </div>
 <div class="right-bottom">
   <a>你可能感兴趣的福利</a>
   <img src="{% static 'images/01_09.png'%}">
 </div>
 </div>

</div>
</div>
        <!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->  
  {% include "outline.html" %}
</body>
</html>
