{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一个提供免费福利的网络理财平台，挖福利。</title>
<meta name="keywords" content="免费福利，理财红包，理财活动，购物红包，体验红包" />
<meta name="description" content="挖福利免费为您提供互联网优惠券和免费福利领取活动信息！" />
<link href="{% static 'images/favicon.ico'%}" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/information.css' %}" />

<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.infiniteCarousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/MSClass.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>

<script type="text/javascript">
var textarray=[];
function getText(n) {
	 if (textarray[n-1])
		 return textarray[n-1];
	 else
		 return n;
}
$(function(){
    $('.flexslider').flexslider({
           directionNav: true,
           pauseOnAction: false
    });
});

</script>
</head>
<body>
{% include "header.html" %}
<div id="content">
   <div id="index-banner">
    <div class="flexslider">
          <ul class="slides">
          {% for adv in ad_list %}
            <li onclick="location='{{adv.url}}'" style="background:url({{adv.pic.url}}) 50% 0 no-repeat;cursor:pointer;"></li>
            <script>textarray.push("{{adv.navigation}}");</script>
          {%endfor%}
          </ul>

    </div>
  </div>

<div class="content-box">
<div class="all">
 <div class="left">
   <div class="left_box">
     <div class="left_box_nav">
       <a class="add" href="{% url 'information_list' %}">全部资讯</a>
       <a href="{% url 'information_list' type='wahangqing' %}">挖行情</a>
       <a href="{% url 'information_list' type='wagushi' %}">挖故事</a>
       <a href="{% url 'information_list' type='washuju' %}">挖数据</a>
       <a href="{% url 'information_list' type='wahuodong' %}">挖活动</a>
     </div>
 <div class="partition">
 </div>
   <div class="left_box_children">
   {%for info in info_list%}
     <div class="small_box">
      <a href="{% url 'information' id=info.id %}"><img src="{{info.pic.url}}"></a>
      <div class="small_box_children">
       <a href={%url 'information_list' type=info.type %}>{{info.get_type_display}}</a>
       <a href="{% url 'information' id=info.id %}"><h1>{{info.title}}</h1></a>
       <p>{{info.summary}}</p>
      </div>
     </div>
    {%endfor%}
        {% if info_list.paginator.num_pages >= 2 %}
  <div class="item_con_pager">
            <div class="pager_container">
            {% if info_list.number != 1 %}
        <a href="{{page_dic.pre_path}}list-page{{info_list.previous_page_number}}{{page_dic.suf_path}}" class="page_no" >上一页</a>
      {% else %}
        <a class="page_no pager_prev_disabled">上一页</a>
      {% endif %}
      {% for i in page_dic.page_list %}
        {% if i == "..." %}
          ...
        {% elif i == info_list.number %}
          <a class="page_no pager_is_current">{{i}}</a>
        {% else %}
          <a href="{{page_dic.pre_path}}list-page{{i}}{{page_dic.suf_path}}" class="page_no">{{i}}</a>
        {% endif  %}
      {% endfor %}
      {% if info_list.number != info_list.paginator.num_pages %}
        <a href="{{page_dic.pre_path}}list-page{{info_list.next_page_number}}{{page_dic.suf_path}}" class="page_no" >下一页</a>
      {% else %}
        <a class="page_no pager_prev_disabled">下一页</a>
      {% endif %}

             </div>
        </div>
  {%endif%}
   </div>
   </div>
 </div>
 <div class="right">
   <div class="right-top">
     <div class="right-top-nav">本周热点</div>
    {%for info in hot_info_list%}
      {%if forloop.counter < 4%}
     <p><span class="circle1">{{forloop.counter}}</span><a><span class="text1">{{info.title}}</span></a></p>
      {%else%}
      <p><span class="circle2">{{forloop.counter}}</span><a><span class="text2">{{info.title}}</span></a></p>
      {%endif%}
  {%endfor%}
   </div>
   <div class="right-middle">
    {%for wel in hot_wel_list%}
      {%if forloop.counter < 4%}
     <p><span class="circle1">{{forloop.counter}}</span><a><span class="text1">{{wel.title}}</span></a></p>
      {%else%}
      <p><span class="circle2">{{forloop.counter}}</span><a><span class="text2">{{wel.title}}</span></a></p>
      {%endif%}
  {%endfor%}
   </div>
 </div>

</div>
</div>
<script>
$(".nav_1").mouseover(function(){
$(this).children().attr("src","{%static 'images/pic_14.png'%}");
});
$(".nav_1").mouseleave(function(){
$(this).children().attr("src","{%static 'images/nav-1.png'%}");
});
$(".nav_2").mouseover(function(){
$(this).children().attr("src","{%static 'images/pic_08.png'%}");
});
$(".nav_2").mouseleave(function(){
$(this).children().attr("src","{%static 'images/nav-2.png'%}");

});
$(".nav_3").mouseover(function(){
$(this).children().attr("src","{%static 'images/pic_03.png'%}");
});
$(".nav_3").mouseleave(function(){
$(this).children().attr("src","{%static 'images/nav-3.png'%}");
});
$(".nav_4").mouseover(function(){
$(this).children().attr("src","{%static 'images/pic_05.png'%}");
});
$(".nav_4").mouseleave(function(){
$(this).children().attr("src","{%static 'images/nav-4.png'%}");
});
</script>


<script>
  $(function(){
  $('.left_box_nav a').click(function() {
    $('.left_box_nav a').removeClass('add');
    $(this).addClass('add')
  });
  });
</script>

<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->
  {% include "outline.html" %}
</body>
</html>
