<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>一个提供免费福利的网络理财平台，挖福利。</title>
<!-- <meta name="viewport" content="width=device-width, initial-scale=0.2, user-scalable=yes" /> -->
<meta content="免费福利，理财红包，理财活动，购物红包，体验红包" name="keywords">
<meta content="挖福利免费为您提供互联网优惠券和免费福利领取活动信息！" name="description">
<link href="images/favicon.ico" rel="shortcut icon">
<link href="css/style.css" type="text/css" rel="stylesheet">
<link href="css/index.css" type="text/css" rel="stylesheet">
<link href="css/information.css" type="text/css" rel="stylesheet">
<style>
  .box_children span{
      display: inline-block;
      background-image: url(images/pict_60.png);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 20px;
    }
</style>
<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/jQuery.infiniteCarousel.js" type="text/javascript"></script>
<script src="js/MSClass.js" type="text/javascript"></script>
<script src="js/page.js" type="text/javascript"></script>
 <script type="text/javascript">

 $(function(){
    $('.middle a').click(function(){
   var index=$(this).index();
   $('.middle a').attr('class','')
   $(this).attr('class','active')
   $('.box').hide();
   $('.box').eq(index).show();
   })

 })
 </script>

<script type="text/javascript">

var data='[data]&lt;li class="tab-li {is_new}"&gt;'+
  '&lt;a target="_blank" href="{url}"&gt;&lt;img src="{pic}" alt="" width="238" height="148"/&gt;&lt;/a&gt;'+
  '&lt;h2&gt;&lt;a target="_blank" href="{url}"  class="tli-title"&gt;{title}&lt;/a&gt;&lt;/h2&gt;'+
  '&lt;p class="line-k"&gt;商&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; 家：{provider}&lt;br /&gt;浏 览 数 ：{view}&lt;br /&gt;'+
  '活动时间：{time}&lt;/p&gt;&lt;a target="_blank" href="{url}" class="mores"&gt;立即查看&lt;/a&gt;&lt;/li&gt;[/data]';
var data2='[data]&lt;li class="tab-li"&gt;'+
  '&lt;a target="_blank" href="{url}"&gt;&lt;img src="{pic}" alt="" width="238" height="148"/&gt;&lt;/a&gt;'+
  '&lt;h2&gt;&lt;a target="_blank" href="{url}"  class="tli-title"&gt;{title}&lt;/a&gt;&lt;/h2&gt;'+
  '&lt;p class="line-k"&gt;商&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; 家：{provider}&lt;br /&gt;浏 览 数 ：{view}&lt;br /&gt;'+
  '活动时间：{time}&lt;/p&gt;&lt;a target="_blank" href="{url}" class="ends"&gt;立即查看&lt;/a&gt;&lt;/li&gt;[/data]';
var url = "/welpage/" + "?page={page}&amp;size={pageSize}&amp;";
function pagecallback(){
  $(".tab-li.new").prepend('&lt;div class="newpost z"&gt;新&lt;/div&gt;');
}
$(function(){
    $('.zero_h a').toggleClass("vo");
  $("#pagedata1").ajaxPage({
      url:url+"state=1&amp;filter=0",
      pageId:$("#page1"),
      pageSize:6,
      run:true,
      content:data,
      complete:pagecallback,
  });
  $("#pagedata2").ajaxPage({
      url:url+"state=2&amp;filter=0",
      pageId:$("#page2"),
      pageSize:6,
      run:true,
      content:data2,
  });
  $("#tab li").click(function(){
    if($(this).attr("class")!="cur"){
      $(this).toggleClass("cur").siblings().removeClass("cur")
      var index = $(this).index();
      $("#page1").empty();
      $("#pagedata1").ajaxPage({
          url:url+"state=1&amp;filter="+index,
          pageId:$("#page1"),
          pageSize:6,
          run:true,
          content:data,
          complete:pagecallback,
      });
    }
  });
  $("#tabg li").click(function(){
    if($(this).attr("class")!="curs"){
      $(this).toggleClass("curs").siblings().removeClass("curs")
      var index = $(this).index();
      $("#page2").empty();
      $("#pagedata2").ajaxPage({
          url:url+"state=2&amp;filter="+index,
          pageId:$("#page2"),
          pageSize:6,
          run:true,
          content:data2,
      });
    }
  });
    $('.flexslider').flexslider({
           directionNav: true,
           pauseOnAction: false
    });

});
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&amp;&amp;i&lt;a.length&amp;&amp;(x=a[i])&amp;&amp;x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i&lt;a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))&gt;0&amp;&amp;parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&amp;&amp;d.all) x=d.all[n]; for (i=0;!x&amp;&amp;i&lt;d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&amp;&amp;d.layers&amp;&amp;i&lt;d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x &amp;&amp; d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i&lt;(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
    DD_belatedPNG.fix('.ie6Png,.ie6Png img,*');
</script>
<![endif]-->
</head>
<body onload="MM_preloadImages('images/pic-14')">

<div id="header">
  <div class="header-main">
    <div class="header-t">欢迎来到挖福利，全国首家综合性互联网产品体验超市！客服热线：<span>0734-8344414</span>
      <div class="rt">

      <a href="/account/register/">注册</a>&nbsp; | &nbsp;<a href="/account/login/">登录</a>
      &nbsp;| &nbsp;

      <a href="/aboutus/#cont=strategy">帮助</a>
      </div>
    </div>
    <div class="header-b">
      <div id="logo"><a href="/"><img alt="logo" src="images/logo.jpg"></a></div>
      <div id="menu">
        <ul>
          <li class="home"><a href="/">首 页</a></li>
          <li class="zero_h"><a href="/welfare/" class="vo">免费福利</a></li>
          <li class="task_h"><a href="/task/">体验福利</a></li>
          <li class="finan_h"><a href="/finance/">理财福利</a></li>
          <li class="mall_h"><a href="/mall/">积分商城</a></li>
          <li class="about_h"><a href="/aboutus/">关于我们</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
   <div id="index-banner">
    <div class="flexslider">
          <ul class="slides">

            <li style="background: transparent url(&quot;/media/photos/2016/06/25/%E7%A6%8F%E5%88%A9%E8%AF%A6%E6%83%85banner2_E1ZHbAE.gif&quot;) no-repeat scroll 50% 0px; cursor: pointer; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" onclick="location='http://www.wafuli.cn/activity/recommend/'" class="flex-active-slide"></li>

            <li style="background: transparent url(&quot;/media/photos/2016/04/22/%E5%85%8D%E8%B4%B9%E7%A6%8F%E5%88%A9%E5%88%97%E8%A1%A8%E9%A1%B5banner.jpg&quot;) no-repeat scroll 50% 0px; cursor: pointer; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" onclick="location='http://wafuli.cn/welfare/'"></li>

          </ul>

    </div>
</div>
</div>
<script>

$(".nav_1").mouseover(function(){
$(this).children().attr("src","images/pic_14.png");
});
$(".nav_1").mouseleave(function(){
$(this).children().attr("src","images/nav-1.png");
});
$(".nav_2").mouseover(function(){
$(this).children().attr("src","images/pic_08.png");

});
$(".nav_2").mouseleave(function(){
$(this).children().attr("src","images/nav-2.png");

});
$(".nav_3").mouseover(function(){
$(this).children().attr("src","images/pic_03.png");
});
$(".nav_3").mouseleave(function(){
$(this).children().attr("src","images/nav-3.png");
});
$(".nav_4").mouseover(function(){
$(this).children().attr("src","images/pic_05.png");
});
$(".nav_4").mouseleave(function(){
$(this).children().attr("src","images/nav-4.png");
});
</script>

<script>
$(".box_children").mouseover(
  function(){
    $(this).attr("src","images/pict_42.png")
    }
)
</script>


<div class="content-box">
<div class="all">
 <div class="left">
   <div class="left_box">
     <div class="left_box_nav">
       <a>全部资讯</a>
       <a>挖行情</a>
       <a>挖故事</a>
       <a>挖数据</a>
       <a class="not">挖活动</a>
     </div>
 <div class="partition">
 </div>
   <div class="left_box_children">
     <div class="small_box">
      <img src="images/01_09.png">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="images/01_09.png">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="images/01_09.png">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="images/01_09.png">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="images/01_09.png">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="small_box">
      <img src="images/01_09.png">
      <div class="small_box_children">
       <a>挖行情</a>
       <h1>注意！银行这些行为属于违规</h1>
       <p>据国家发展和改革委员会网站消息，发改委近日印发《商业银行收费行为执法指南》。《指南》认定商业银行多种违规收费行为......</p>
      </div>
     </div>
     <div class="item_con_pager">
            <div class="pager_container">
                 <a rel="nofollow" href="javascript:;" class="page_no pager_prev_disabled" data-index="">上一页</a>
                 <a rel="nofollow" href="javascript:;" class="page_no pager_is_current" data-index="1">1</a>
                 <a class="page_no" data-index="2">2</a>
                 <a class="page_no" data-index="3">3</a>
                 <a class="page_no" data-index="10">10</a>
                 <a class="page_no" data-index="2">下一页</a>
             </div>
      </div>
   </div>
   </div>
 </div>
 <div class="right">
   <div class="right-top">
     <div class="right-top-nav">本周热点</div>
     <p><span class="circle1">1</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle1">2</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle1">3</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle2">4</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">5</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">6</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">7</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">8</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">9</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">10</span><span class="text2">人设部终于回应五个问题</span></p>
   </div>
   <div class="right-middle">
     <div class="right-top-nav">福利活动</div>
     <p><span class="circle1">1</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle1">2</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle1">3</span><span class="text1">人设部终于回应五个问题</span></p>
     <p><span class="circle2">4</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">5</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">6</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">7</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">8</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">9</span><span class="text2">人设部终于回应五个问题</span></p>
     <p><span class="circle2">10</span><span class="text2">人设部终于回应五个问题</span></p>
   </div>
 <div class="right-bottom">
   <a>你可能感兴趣的福利</a>
   <img src="images/01_09.png">
 </div>
 </div>

</div>
</div>
<!--底部-->

<meta charset="utf-8&quot;">
<div id="footer">
      <div class="footer-main">
        <div class="index_52">友情链接：&nbsp;
        <a href="http://www.quanmama.com/" rel="external nofollow">券妈妈</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.domob.cn/" rel="external nofollow">多盟</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.wdzj.com/" rel="external nofollow">网贷之家</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.ebeboo.com" rel="external nofollow">e贝宝</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="index_53">
          <div class="index_54">
            <div class="lf">
              <h2>关于我们</h2>
              <ul>
                <li><a href="/aboutus/">公司简介</a></li>
                <li><a href="/aboutus/">团队介绍</a></li>
                <li><a href="#">招贤纳士</a></li>
                <li><a href="/aboutus/#cont=contact">联系我们</a></li>
              </ul>
            </div>
            <div class="lf">
              <h2>帮助中心</h2>
              <ul>
                <li><a href="/freshman/introduction/">新手入门</a></li>
                <li><a href="/freshman/award/">邀请奖励</a></li>
                <li><a href="/aboutus/#cont=strategy">福利攻略</a></li>
                <li><a href="/aboutus/#cont=exchange_help">兑换帮助</a></li>
              </ul>
            </div>
            <div class="lf s">
              <h2>福利QQ群</h2>
              <ul>
                <li>挖福利官方总群：377351502</li>
                <li>挖福利官方群1（免费福利）：527206975</li>
                <li>挖福利官方群2（体验福利）：389152918</li>
                <li>挖福利官方群3（理财福利）：389153753</li>
              </ul>
            </div>
          </div>
          <div class="index_55">
            <h2>在线客服</h2>
            <h3>0734-8344414</h3>
            ( 服务时间 9:00~22:00 )
          </div>
          <div class="index_56">
            <div class="index_57">挖福利官方微信</div>
            <div class="index_58"><img width="123" height="123" alt="微信二维码" src="images/code.jpg"></div>
          </div>
        </div>
        <div class="index_59">Copyright&nbsp; &copy; 2015-2024&nbsp; 挖福利 版权所有 备案号：湘ICP备15015815号-2<span class="rt">
        <a href="#"><img alt="" src="images/icon-1.png"></a>
        <a href="#"><img alt="" src="images/icon-2.png"></a>
        <a href="#"><img alt="" src="images/icon-3.png"></a></span></div>
      </div>
    </div>
  <!--浮动窗口-->

<meta charset="utf-8&quot;">
  <ul id="online">
      <li class="qq"><a "="" href="http://wpa.qq.com/msgrd?v=3&amp;uin=122142551&amp;site=qq&amp;menu=yes" target="_blank"><img alt="qq" src="images/icon-4.png"><br>QQ客服</a></li>
      <li class="weixin"><a href="#"><img alt="weixin" src="images/icon-5.png"><br>微信客服</a></li>
      <li class="top"><a onclick="$('body,html').animate({scrollTop:0},600);" href="javascript:;"><img alt="top" src="images/top.png"></a></li>
   </ul>

</body></html>
