<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>免费福利详情页</title>
		<link rel="stylesheet" type="text/css" href="css/wfl-common.css"/>
		<link rel="stylesheet" type="text/css" href="css/wfl-page.css"/>
		<link rel="stylesheet" type="text/css" href="css/wfl-welfare-detail.css"/>
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="bgc-333">
				<div class="headertop color-fff clearfix">
					<p class="headertop__welcome l">欢迎来到挖福利，全国首家综合性互联网产品体验超市！客服热线：0731-85586375&nbsp;&nbsp;<a href="#">切换到触屏版</a></p>
					<ul class="r fs-0">
						<li class="d-ib"><a class="headertop__navitem link" href="#">登录</a></li>
						<li class="d-ib"><a class="headertop__navitem link" href="#">注册</a></li>
						<li class="d-ib"><a class="headertop__navitem link" href="#">帮助中心</a></li>
						<li class="d-ib"><a class="headertop__navitem link" href="#">app下载</a></li>
					</ul>
				</div>
			</div>
			<div class="headermain-box bgc-fff">
				<div class="headermain clearfix">
					<img src="images/wafuli-logo.png" alt="logo" class="logo l" width="264" height="82" />
					<ul class="nav nav-layout l fs-0">
						<li class="d-ib"><a class="nav__item" href="#">首页</a></li>
						<li class="subnav-show d-ib">
							<a class="nav__item" href="#">福利大全</a>
							<ul class="subnav welfare-subnav">
								<li><a class="subnav__item link" href="#">红包福利</a></li>
								<li><a class="subnav__item link" href="#">福利购</a></li>
							</ul>
						</li>
						<li class="subnav-show d-ib">
							<a class="nav__item" href="#">赚点钱</a>
							<ul class="subnav">
								<li><a class="subnav__item link" href="#">任务赚</a></li>
								<li><a class="subnav__item link" href="#">p2p返利</a></li>
								<li><a class="subnav__item link" href="#">借点钱</a></li>
								<li><a class="subnav__item link" href="#">信用卡</a></li>
							</ul>
						</li>
						<li class="d-ib"><a class="nav__item" href="#">积分商城</a></li>
						<li class="d-ib"><a class="nav__item" href="#">个人中心</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--header---end-->
		<div class="wfl-wrap m-welfare-detail clearfix">
		    <p class="crumb">当前时间：&nbsp;&nbsp;<a href="">福利大全</a>&nbsp;>&nbsp;<a href="">福利购</a>&nbsp;>&nbsp;<a href="">京东618</a></p>
		    <div class="leftcontainer l wleft">
    		    <div class="detailmain">
    		        <img class="detailmain__img" src="" alt="" />
    		        <div class="detailmain__content">
    		            <h1 class="detailmain__title">绝对值：MIJIA扫地机器人  1569元包邮（下单立减）</h1>
    		            <p class="detail__p1">商家：<span>京东</span></p>
    		            <p class="detail__p2">分类：<span>红包</span><span>红包</span>免费领<span>易操作</span></p>
    		            <a href="" class="btn m-green m-detailmain">直达链接</a>
    		            <div class="support d-ib">
                            <span class="support__up">顶（<number>345</number>）</span><span class="support__down">踩（<number>345</number>）</span>
                        </div>
    		        </div>
    		    </div>
    		    <div class="detail-html">
    		          上传内容区域
    		    </div>
    		    <div class="near">
    		        <p class="near__pre">上一福利<a class="near__link" href="">可口可乐汽水300ml*24瓶整箱</a></p>
    		        <p class="near__next">上一福利<a class="near__link" href="">可口可乐汽水300ml*24瓶整箱</a></p>
    		    </div>
    		    <div class="other-recommend">
                    <h3 class="other-recommend__title">您可能还喜欢</h3>
                    <ul class="other-recommend__box">
                        <li class="other-recommend__item"><a href="#">
                            <img class="other-recommend__img" src="" alt="" />
                            <p class="other-recommend__txt">历史低价，618疯抢，史前最低。</p>
                        </a></li>
                        <li class="other-recommend__item"><a href="#">
                            <img class="other-recommend__img" src="" alt="" />
                            <p class="other-recommend__txt">历史低价，618疯抢，史前最低。</p>
                        </a></li>
                        <li class="other-recommend__item"><a href="#">
                            <img class="other-recommend__img" src="" alt="" />
                            <p class="other-recommend__txt">历史低价，618疯抢，史前最低。</p>
                        </a></li>
                        <li class="other-recommend__item"><a href="#">
                            <img class="other-recommend__img" src="" alt="" />
                            <p class="other-recommend__txt">历史低价，618疯抢，史前最低。</p>
                        </a></li>
                    </ul>
                </div>
		    </div>            <!--leftcontainer---end-->
    		<!--热门推荐-->
    		<div class="sidebar wright r">
    			<div class="wflbox">
    				<div class="wflbox__titlebox clearfix">
    					<h1 class="wflbox__title">热门推荐</h1>
    					<a class="wflbox__more" href="#">查看全部</a>
    				</div>
    				<ul class="recommend-box">
    					<li class="recommend"><a href="#">
    						<img class="recommend__img" src="" alt="" />
    						<div>
    							<h3 class="recommend__title">iPhone7全网通全网通全网通</h3>
    							<div class="recommend__detail clearfix"><span class="recommend__support-up">顶&nbsp;&nbsp;<number>345</number></span><span class="recommend__source">京东</span></div>
    						</div>
    					</a></li>
    					<li class="recommend"><a href="#">
                            <img class="recommend__img" src="" alt="" />
                            <div>
                                <h3 class="recommend__title">iPhone7全网通全网通全网通</h3>
                                <div class="recommend__detail clearfix"><span class="recommend__support-up">顶&nbsp;&nbsp;<number>345</number></span><span class="recommend__source">京东</span></div>
                            </div>
                        </a></li>
                        <li class="recommend"><a href="#">
                            <img class="recommend__img" src="" alt="" />
                            <div>
                                <h3 class="recommend__title">iPhone7全网通全网通全网通</h3>
                                <div class="recommend__detail clearfix"><span class="recommend__support-up">顶&nbsp;&nbsp;<number>345</number></span><span class="recommend__source">京东</span></div>
                            </div>
                        </a></li>
                        <li class="recommend"><a href="#">
                            <img class="recommend__img" src="" alt="" />
                            <div>
                                <h3 class="recommend__title">iPhone7全网通全网通全网通</h3>
                                <div class="recommend__detail clearfix"><span class="recommend__support-up">顶&nbsp;&nbsp;<number>345</number></span><span class="recommend__source">京东</span></div>
                            </div>
                        </a></li>
                        <li class="recommend"><a href="#">
                            <img class="recommend__img" src="" alt="" />
                            <div>
                                <h3 class="recommend__title">iPhone7全网通全网通全网通</h3>
                                <div class="recommend__detail clearfix"><span class="recommend__support-up">顶&nbsp;&nbsp;<number>345</number></span><span class="recommend__source">京东</span></div>
                            </div>
                        </a></li>
                        <li class="recommend"><a href="#">
                            <img class="recommend__img" src="" alt="" />
                            <div>
                                <h3 class="recommend__title">iPhone7全网通全网通全网通</h3>
                                <div class="recommend__detail clearfix"><span class="recommend__support-up">顶&nbsp;&nbsp;<number>345</number></span><span class="recommend__source">京东</span></div>
                            </div>
                        </a></li>
    				</ul>
    			</div>
    		</div>
    		<!--热门推荐---end-->
		</div>

        <!--footer部分-->
		<div class="footer">
            <div class="wfl-wrap m-footer">
                <div class="footer__friend-link">友情链接：
                    <a class="footer__friend-item" rel="external nofollow" href="http://www.quanmama.com/" target="_blank">券妈妈</a>
                    <a class="footer__friend-item" rel="external nofollow" href="http://www.domob.cn/" target="_blank">多盟</a>
                    <a class="footer__friend-item" rel="external nofollow" href="http://www.wdzj.com/" target="_blank">网贷之家</a>
                    <a class="footer__friend-item" rel="external nofollow" href="https://www.ebeboo.com" target="_blank">e贝宝</a>
                </div>
                <ul class="footer__columnbox">
                	<li class="footer__column">
                	    <h2 class="footer__column-title">关于我们</h2>
                        <ul class="footer__columnitem-box">
                            <li>
                                <a class="footer__link-item" href="/aboutus/">公司简介</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/aboutus/">团队介绍</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/sitemap/">网站地图</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/aboutus/#cont=contact">联系我们</a>
                            </li>
                        </ul>
                	</li>
                	<li class="footer__column">
                	    <h2 class="footer__column-title">帮助中心</h2>
                        <ul class="footer__columnitem-box">
                            <li>
                                <a class="footer__link-item" href="/freshman/introduction/">新手入门</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/freshman/award/">邀请奖励</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/aboutus/#cont=strategy">福利攻略</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/aboutus/#cont=exchange_help">兑换帮助</a>
                            </li>
                        </ul>
                	</li>
                	<li class="footer__column">
                	    <h2 class="footer__column-title">福利QQ群</h2>
                        <ul class="footer__columnitem-box">
                            <li>挖福利官方总群：377351502</li>
                            <li>挖福利官方群1（免费福利）：479560713</li>
                            <li>挖福利官方群2（体验福利）：334255911</li>
                            <li>挖福利官方群3（理财福利）：389153753</li>
                        </ul>
                	</li>
                	<li class="footer__column">
                	    <h2 class="footer__column-title">在线客服</h2>
                        <h3 class="footer__phone">0731-85586375</h3>
                        <span>( 服务时间 9:00~22:00 )</span>
                	</li>
                	<li class="footer__column m-weixin">
                	    <h2 class="footer__column-title">挖福利官方微信</h2>
                        <div class="footer__weixin"><img class="footer__weixin-img" src="images/code.jpg" alt="微信二维码" width="123" height="123"></div>
                	</li>
                </ul>
                <div class="footer__Copyright">Copyright&nbsp; © 2015-2024&nbsp; 挖福利 版权所有 备案号：湘ICP备15015815号-2
                    <span class="footer__iconbox">
                        <a href="#"><img class="footer__iconimg" src="images/icon-1.png" alt=""></a>
                        <a href="#"><img class="footer__iconimg" src="images/icon-2.png" alt=""></a>
                        <a href="#"><img class="footer__iconimg" src="images/icon-3.png" alt=""></a>
                    </span>
                </div>
            </div>
        </div>
        <!--footer部分---end-->
        <!--contact部分-->
        <ul class="contact">
          <li class="contact__itembox">
              <a class="contact__qq contact__item" target="_blank" href="javascript:;"><span class="contact__item-txt">QQ<br/>客服</span></a>
              <div class="contact__show m-qq">
                  <a  class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2339019773&site=qq&menu=yes">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="免费福利客服" />
                      <span class="contact__show-name">免费福利客服</span>
                  </a>
                  <a class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3327058376&site=qq&menu=yes">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:3327058376:52" alt="体验福利客服" />
                      <span class="contact__show-name">体验福利客服</span>
                  </a>
                  <a class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2468016671&site=qq&menu=yes">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2468016671:52" alt="理财福利客服" />
                      <span class="contact__show-name">理财福利客服</span>
                  </a>
              </div>
          </li>
          <li class="contact__itembox">
              <a class="contact__weixin contact__item" target="_blank" href="javascript:;"><span class="contact__item-txt">加入<br/>QQ群</span></a>
              <div class="contact__show m-group">
                  <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=ede716c292b3169b840ddd58778f17bc124efce83022365731f7c29ce2d22e7f">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
                      <span class="contact__show-name">免费福利群</span>
                  </a>
                  <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=3835251b8bc58f6277bcdfce3a12538586542df8a432cf799ed7c67bd56fdc9f">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
                      <span class="contact__show-name">体验福利群</span>
                  </a>
                  <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=bb1d17133b125893edd6e1467ef1ff9dd5edd0355ad6b525f208ebbe48fffce5">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
                      <span class="contact__show-name">理财福利群</span>
                  </a>
              </div>
          </li>
          <li class="contact__top contact__item"><a class="contact__totop" href="javascript:;" onclick="$('body,html').animate({scrollTop:0},600);"><!-- <img src="{% static 'images/top.png' %}" alt="top"/> <--><span class="contact__item-txt">回到<br/>顶部</span></--></a></li>
       </ul>
       <!--contact部分---end-->
        
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"slide":{"type":"slide","bdImg":"0","bdPos":"left","bdTop":"106.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?967fce306a35a615082120cd7cf7d616";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
		
		<script src="js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/wfl-common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			}); 
		</script>
	</body>
</html>
