<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>免费福利</title>
		<link rel="stylesheet" type="text/css" href="css/wfl-common.css"/>
		<link rel="stylesheet" type="text/css" href="css/wfl-flesslider.css"/>
		<link rel="stylesheet" type="text/css" href="css/wfl-page.css"/>
		<link rel="stylesheet" type="text/css" href="css/wfl-welfare.css"/>
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="bgc-333">
				<div class="headertop color-fff clearfix">
					<p class="headertop__welcome l">欢迎来到挖福利，全国首家综合性互联网产品体验超市！客服热线：0731-85586375&nbsp;&nbsp;<a href="#">切换到触屏版</a></p>
					<ul class="r fs-0">
						<li class="d-ib"><a class="headertop__navitem link" href="#">登录</a></li>
						<li class="d-ib"><a class="headertop__navitem link" href="#">注册</a></li>
						<li class="d-ib"><a class="headertop__navitem link" href="#">帮助中心</a></li>
						<li class="d-ib"><a class="headertop__navitem link" href="#">app下载</a></li>
					</ul>
				</div>
			</div>
			<div class="headermain-box bgc-fff">
				<div class="headermain clearfix">
					<img src="images/wafuli-logo.png" alt="logo" class="logo l" />
					<ul class="nav nav-layout l fs-0">
                        <li class="nav__itembox d-ib"><a class="nav__item" href="#">首页</a></li>
                        <li class="nav__itembox subnav-show d-ib">
                            <a class="nav__item" href="#">福利大全</a>
                            <ul class="subnav welfare-subnav">
                                <li><a class="subnav__item link" href="#">红包福利</a></li>
                                <li><a class="subnav__item link" href="#">福利购</a></li>
                            </ul>
                        </li>
                        <li class="nav__itembox subnav-show d-ib">
                            <a class="nav__item" href="#">赚点钱</a>
                            <ul class="subnav">
                                <li><a class="subnav__item link" href="#">任务赚</a></li>
                                <li><a class="subnav__item link" href="#">p2p返利</a></li>
                                <li><a class="subnav__item link" href="#">借点钱</a></li>
                                <li><a class="subnav__item link" href="#">信用卡</a></li>
                            </ul>
                        </li>
                        <li class="nav__itembox d-ib"><a class="nav__item" href="#">积分商城</a></li>
                        <li class="nav__itembox d-ib"><a class="nav__item" href="#">个人中心</a></li>
                    </ul>
				</div>
			</div>
		</div>
		<!--header---end-->
		
		<!--banner-container-->
		<div class="banner-container wfl-wrap clearfix">
			<div class="banner l">
				<div class="flexslider">
					<ul class="slides">
					    <li style="background:url(images/img1.jpg) 50% 0 no-repeat;"></li>
					    <li style="background:url(images/img2.jpg) 50% 0 no-repeat;"></li>
					    <li style="background:url(images/img3.jpg) 50% 0 no-repeat;"></li>
					    <li style="background:url(images/img4.jpg) 50% 0 no-repeat;"></li>
					    <li style="background:url(images/img5.jpg) 50% 0 no-repeat;"></li>
				  	</ul>

				</div> 
			</div>
			<div class="hongbao-recommend fs-0 r">
				<img class="hongbao-recommend-item" src=""/>
				<img class="hongbao-recommend-item" src=""/>
				<img class="hongbao-recommend-item" src=""/>
				<img class="hongbao-recommend-item" src=""/>
			</div>
		</div>
		<!--banner-container--end-->
		<div class="wfl-wrap">
			<div class="hongbao-search">
			  <form action="" method="get">
			    <input class="hongbao-input" name="key" type="text">
			    <input class="hongbao-submit" type="submit" value="">
			  </form>
			  <p class="hot-search">热搜：<span class="hot-txt">热搜01</span><span class="hot-txt">热搜02</span><span class="hot-txt">热搜03</span><span class="hot-txt">热搜04</span></p>
			</div>
		</div>
		<!--红包、积分、福利购-->
		<div class="wfl-wrap clearfix">
			<div class="hongbao-content wleft l">
				<div class="hongbao-nav-box clearfix">
					<h4 class="hongbao-nav-name l">红包分类：</h4>
					<ul class="hongbao-nav l">
						<li class="hongbao-nav__item on">精选</li>
						<li class="hongbao-nav__item">微信<span class="hongbao-nav__num">1234</span></li>
						<li class="hongbao-nav__item">支付宝<span class="hongbao-nav__num">1234</span></li>
						<li class="hongbao-nav__item">购物<span class="hongbao-nav__num">1234</span></li>
						<li class="hongbao-nav__item">话费<span class="hongbao-nav__num">1234</span></li>
						<li class="hongbao-nav__item">流量<span class="hongbao-nav__num">1234</span></li>
						<li class="hongbao-nav__item">理财<span class="hongbao-nav__num">1234</span></li>
					</ul>
					<ul class="hongbao-choose fs-0 r">
						<li class="hongbao-choose__item on">最新</li>
						<li class="hongbao-choose__item">最热</li>
					</ul>
				</div>
				<ul class="hongbao-box">
					<li class="hongbao">
						<img class="hongbao__img" src="" alt="" />
						<div class="hongbao-detail">
							<h3>京东618优惠券总攻略</h3>	
							<p class="hongbao__detail">京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略</p>
							<div class="hongbao-action clearfix">
								<div class="support l">
									<span class="support__up">顶（<number>345</number>）</span><span class="support__down">踩（<number>345</number>）</span>
								</div>
								<div class="hongbao-rb r">
									<span class="hongbao__time">06-12 15:30</span><span class="hongbao__source">京东</span><a class="btn m-green m-hongbao-link" href="#">直达链接</a>
								</div>
							</div>
						</div>
					</li>
					<li class="hongbao">
						<img class="hongbao__img" src="" alt="" />
						<div class="hongbao-detail">
							<h3>京东618优惠券总攻略</h3>	
							<p class="hongbao__detail">京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略</p>
							<div class="hongbao-action clearfix">
								<div class="support l">
									<span class="support__up">顶（<number>345</number>）</span><span class="support__down">踩（<number>345</number>）</span>
								</div>
								<div class="hongbao-rb r">
									<span class="hongbao__time">06-12 15:30</span><span class="hongbao__source">京东</span><a class="btn m-green m-hongbao-link" href="#">直达链接</a>
								</div>
							</div>
						</div>
					</li>
					<li class="hongbao">
						<img class="hongbao__img" src="" alt="" />
						<div class="hongbao-detail">
							<h3>京东618优惠券总攻略</h3>	
							<p class="hongbao__detail">京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略</p>
							<div class="hongbao-action clearfix">
								<div class="support l">
									<span class="support__up">顶（<number>345</number>）</span><span class="support__down">踩（<number>345</number>）</span>
								</div>
								<div class="hongbao-rb r">
									<span class="hongbao__time">06-12 15:30</span><span class="hongbao__source">京东</span><a class="btn m-green m-hongbao-link" href="#">直达链接</a>
								</div>
							</div>
						</div>
					</li>
					<li class="hongbao">
						<img class="hongbao__img" src="" alt="" />
						<div class="hongbao-detail">
							<h3>京东618优惠券总攻略</h3>	
							<p class="hongbao__detail">京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略</p>
							<div class="hongbao-action clearfix">
								<div class="support l">
									<span class="support__up">顶（<number>345</number>）</span><span class="support__down">踩（<number>345</number>）</span>
								</div>
								<div class="hongbao-rb r">
									<span class="hongbao__time">06-12 15:30</span><span class="hongbao__source">京东</span><a class="btn m-green m-hongbao-link" href="#">直达链接</a>
								</div>
							</div>
						</div>
					</li>
					<li class="hongbao">
						<img class="hongbao__img" src="" alt="" />
						<div class="hongbao-detail">
							<h3>京东618优惠券总攻略</h3>	
							<p class="hongbao__detail">京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略</p>
							<div class="hongbao-action clearfix">
								<div class="support l">
									<span class="support__up">顶（<number>345</number>）</span><span class="support__down">踩（<number>345</number>）</span>
								</div>
								<div class="hongbao-rb r">
									<span class="hongbao__time">06-12 15:30</span><span class="hongbao__source">京东</span><a class="btn m-green m-hongbao-link" href="#">直达链接</a>
								</div>
							</div>
						</div>
					</li>
					<li class="hongbao">
						<img class="hongbao__img" src="" alt="" />
						<div class="hongbao-detail">
							<h3>京东618优惠券总攻略</h3>	
							<p class="hongbao__detail">京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略</p>
							<div class="hongbao-action clearfix">
								<div class="support l">
									<span class="support__up">顶（<number>345</number>）</span><span class="support__down">踩（<number>345</number>）</span>
								</div>
								<div class="hongbao-rb r">
									<span class="hongbao__time">06-12 15:30</span><span class="hongbao__source">京东</span><a class="btn m-green m-hongbao-link" href="#">直达链接</a>
								</div>
							</div>
						</div>
					</li>
					<li class="hongbao">
						<img class="hongbao__img" src="" alt="" />
						<div class="hongbao-detail">
							<h3>京东618优惠券总攻略</h3>	
							<p class="hongbao__detail">京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略京东618优惠券总攻略</p>
							<div class="hongbao-action clearfix">
								<div class="support l">
									<span class="support__up">顶（<number>345</number>）</span><span class="support__down">踩（<number>345</number>）</span>
								</div>
								<div class="hongbao-rb r">
									<span class="hongbao__time">06-12 15:30</span><span class="hongbao__source">京东</span><a class="btn m-green m-hongbao-link" href="#">直达链接</a>
								</div>
							</div>
						</div>
					</li>
					
					<!--分页部分-->
					<div class="changes-p">
						<div class="page" id="page2"><span class="disable">&lt; 上一页</span><span class="on">1</span>
							<a href="javascript:;" class="a_href" data-i="2">2</a>
							<a href="javascript:;" class="a_href" data-i="3">3</a>
							<a href="javascript:;" class="a_href" data-i="4">4</a>
							<a href="javascript:;" class="a_href" data-i="5">5</a>
							<a href="javascript:;" class="a_next">下一页 &gt;</a><span class="href"><label for="pageText">到第</label><input autocomplete="off" type="text" class="a_text" value="1"><label for="pageText">页</label><input type="button" value="转到" class="a_button"></span></div>
					</div>
					<!--分页部分---end-->
				</ul>
			</div>
			<div class="sidebar wright r">
				<div class="wflbox">
					<div class="wflbox__titlebox clearfix">
						<h1 class="wflbox__title">福利购</h1>
						<a class="wflbox__more" href="#">查看全部</a>
					</div>
					<ul class="fuligou-box">
						<li class="fuligou"><a href="#">
							<img class="fuligou__img" src="" alt="" />
							<div>
								<h3 class="fuligou__title">iPhone7全网通全网通全网通</h3>
								<div class="price l"><span class="price__now">￥<number>24.5</number></span><span class="price__tag">券后价</span><span class="price__before">￥34.5</span></div>
							</div>
						</a></li>
						<li class="fuligou"><a href="#">
							<img class="fuligou__img" src="" alt="" />
							<div>
								<h3 class="fuligou__title">iPhone7全网通全网通全网通</h3>
								<div class="price l"><span class="price__now">￥<number>24.5</number></span><span class="price__tag">券后价</span><span class="price__before">￥34.5</span></div>
							</div>
						</a></li>
						<li class="fuligou"><a href="#">
							<img class="fuligou__img" src="" alt="" />
							<div>
								<h3 class="fuligou__title">iPhone7全网通全网通全网通</h3>
								<div class="price l"><span class="price__now">￥<number>24.5</number></span><span class="price__tag">券后价</span><span class="price__before">￥34.5</span></div>
							</div>
						</a></li>
						<li class="fuligou"><a href="#">
							<img class="fuligou__img" src="" alt="" />
							<div>
								<h3 class="fuligou__title">iPhone7全网通全网通全网通</h3>
								<div class="price l"><span class="price__now">￥<number>24.5</number></span><span class="price__tag">券后价</span><span class="price__before">￥34.5</span></div>
							</div>
						</a></li>
						<li class="fuligou"><a href="#">
							<img class="fuligou__img" src="" alt="" />
							<div>
								<h3 class="fuligou__title">iPhone7全网通全网通全网通</h3>
								<div class="price l"><span class="price__now">￥<number>24.5</number></span><span class="price__tag">券后价</span><span class="price__before">￥34.5</span></div>
							</div>
						</a></li>
					</ul>
				</div>
				
				<div class="wflbox">
					<div class="wflbox__titlebox m-mt clearfix">
						<h1 class="wflbox__title">积分商城</h1>
						<a class="wflbox__more" href="#">查看全部</a>
					</div>
					<ul class="jifen-box">
						<li class="jifen"><a href="#">
							<img class="jifen__img" src="" alt="" />
							<div>
								<h3 class="jifen__title">iPhone7全网通全网通全网通</h3>
								<p class="jifen__num">积分：777888</p>
							</div>
						</a></li>
						<li class="jifen"><a href="#">
							<img class="jifen__img" src="" alt="" />
							<div>
								<h3 class="jifen__title">iPhone7全网通全网通全网通</h3>
								<p class="jifen__num">积分：777888</p>
							</div>
						</a></li>
						<li class="jifen"><a href="#">
							<img class="jifen__img" src="" alt="" />
							<div>
								<h3 class="jifen__title">iPhone7全网通全网通全网通</h3>
								<p class="jifen__num">积分：777888</p>
							</div>
						</a></li>
						<li class="jifen"><a href="#">
							<img class="jifen__img" src="" alt="" />
							<div>
								<h3 class="jifen__title">iPhone7全网通全网通全网通</h3>
								<p class="jifen__num">积分：777888</p>
							</div>
						</a></li>
						<li class="jifen"><a href="#">
							<img class="jifen__img" src="" alt="" />
							<div>
								<h3 class="jifen__title">iPhone7全网通全网通全网通</h3>
								<p class="jifen__num">积分：777888</p>
							</div>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--红包、积分、福利购---end-->
        <!--footer部分-->
		<div class="footer">
            <div class="wfl-wrap m-footer">
                <div class="footer__friend-link">友情链接：
                    <a class="footer__friend-item" rel="external nofollow" href="http://www.quanmama.com/" target="_blank">券妈妈</a>
                    <a class="footer__friend-item" rel="external nofollow" href="http://www.domob.cn/" target="_blank">多盟</a>
                    <a class="footer__friend-item" rel="external nofollow" href="http://www.wdzj.com/" target="_blank">网贷之家</a>
                    <a class="footer__friend-item" rel="external nofollow" href="https://www.ebeboo.com" target="_blank">e贝宝</a>
                </div>
                <ul class="footer__columnbox">
                	<li class="footer__column">
                	    <h2 class="footer__column-title">关于我们</h2>
                        <ul class="footer__columnitem-box">
                            <li>
                                <a class="footer__link-item" href="/aboutus/">公司简介</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/aboutus/">团队介绍</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/sitemap/">网站地图</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/aboutus/#cont=contact">联系我们</a>
                            </li>
                        </ul>
                	</li>
                	<li class="footer__column">
                	    <h2 class="footer__column-title">帮助中心</h2>
                        <ul class="footer__columnitem-box">
                            <li>
                                <a class="footer__link-item" href="/freshman/introduction/">新手入门</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/freshman/award/">邀请奖励</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/aboutus/#cont=strategy">福利攻略</a>
                            </li>
                            <li>
                                <a class="footer__link-item" href="/aboutus/#cont=exchange_help">兑换帮助</a>
                            </li>
                        </ul>
                	</li>
                	<li class="footer__column">
                	    <h2 class="footer__column-title">福利QQ群</h2>
                        <ul class="footer__columnitem-box">
                            <li>挖福利官方总群：377351502</li>
                            <li>挖福利官方群1（免费福利）：479560713</li>
                            <li>挖福利官方群2（体验福利）：334255911</li>
                            <li>挖福利官方群3（理财福利）：389153753</li>
                        </ul>
                	</li>
                	<li class="footer__column">
                	    <h2 class="footer__column-title">在线客服</h2>
                        <h3 class="footer__phone">0731-85586375</h3>
                        <span>( 服务时间 9:00~22:00 )</span>
                	</li>
                	<li class="footer__column m-weixin">
                	    <h2 class="footer__column-title">挖福利官方微信</h2>
                        <div class="footer__weixin"><img class="footer__weixin-img" src="images/code.jpg" alt="微信二维码" width="123" height="123"></div>
                	</li>
                </ul>
                <div class="footer__Copyright">Copyright&nbsp; © 2015-2024&nbsp; 挖福利 版权所有 备案号：湘ICP备15015815号-2
                    <span class="footer__iconbox">
                        <a href="#"><img class="footer__iconimg" src="images/icon-1.png" alt=""></a>
                        <a href="#"><img class="footer__iconimg" src="images/icon-2.png" alt=""></a>
                        <a href="#"><img class="footer__iconimg" src="images/icon-3.png" alt=""></a>
                    </span>
                </div>
            </div>
        </div>
        <!--footer部分---end-->
        <!--contact部分-->
        <ul class="contact">
          <li class="contact__itembox">
              <a class="contact__qq contact__item" target="_blank" href="javascript:;"><span class="contact__item-txt">QQ<br/>客服</span></a>
              <div class="contact__show m-qq">
                  <a  class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2339019773&site=qq&menu=yes">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="免费福利客服" />
                      <span class="contact__show-name">免费福利客服</span>
                  </a>
                  <a class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3327058376&site=qq&menu=yes">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:3327058376:52" alt="体验福利客服" />
                      <span class="contact__show-name">体验福利客服</span>
                  </a>
                  <a class="contact__show-item" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2468016671&site=qq&menu=yes">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2468016671:52" alt="理财福利客服" />
                      <span class="contact__show-name">理财福利客服</span>
                  </a>
              </div>
          </li>
          <li class="contact__itembox">
              <a class="contact__weixin contact__item" target="_blank" href="javascript:;"><span class="contact__item-txt">加入<br/>QQ群</span></a>
              <div class="contact__show m-group">
                  <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=ede716c292b3169b840ddd58778f17bc124efce83022365731f7c29ce2d22e7f">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
                      <span class="contact__show-name">免费福利群</span>
                  </a>
                  <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=3835251b8bc58f6277bcdfce3a12538586542df8a432cf799ed7c67bd56fdc9f">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
                      <span class="contact__show-name">体验福利群</span>
                  </a>
                  <a class="contact__show-item" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=bb1d17133b125893edd6e1467ef1ff9dd5edd0355ad6b525f208ebbe48fffce5">
                      <img class="contact__show-img" border="0" src="http://wpa.qq.com/pa?p=2:2339019773:52" alt="点击这里加入QQ群" title="点击这里加入QQ群" />
                      <span class="contact__show-name">理财福利群</span>
                  </a>
              </div>
          </li>
          <li class="contact__top contact__item"><a class="contact__totop" href="javascript:;" onclick="$('body,html').animate({scrollTop:0},600);"><!-- <img src="{% static 'images/top.png' %}" alt="top"/> <--><span class="contact__item-txt">回到<br/>顶部</span></--></a></li>
       </ul>
       <!--contact部分---end-->
        
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"slide":{"type":"slide","bdImg":"0","bdPos":"left","bdTop":"106.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?967fce306a35a615082120cd7cf7d616";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
		
		<script src="js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/wfl-flexslider-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/wfl-common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.nav__item:eq(1)').addClass('active');
				$('.flexslider').flexslider({
				    directionNav: true,
				    pauseOnAction: false
				});
				$('.hongbao-nav__item, .hongbao-choose__item').click(function(){
					$(this).addClass('on').siblings().removeClass('on');
				})
				$('.hot-txt').click(function() {
					$('.hongbao-input').val($(this).text());
				})
			}); 
		</script>
	</body>
</html>
