{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一个提供免费福利的网络理财平台，挖福利。</title>
<meta name="keywords" content="免费福利，理财红包，理财活动，购物红包，体验红包" />
<meta name="description" content="挖福利免费为您提供互联网优惠券和免费福利领取活动信息！" />
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/welfare.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />

<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.infiniteCarousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/MSClass.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
 <script type="text/javascript">
 
 $(function(){
	  $('.middle a').click(function(){
	 var index=$(this).index();
	 $('.middle a').attr('class','')
	 $(this).attr('class','active')
	 $('.box').hide();
	 $('.box').eq(index).show();
	 })
	  
 })
 </script>

<script type="text/javascript">

var data='[data]<li class="tab-li {is_new}">'+
	'<a target="_blank" href="{url}"><img src="{pic}" alt="" width="238" height="148"/></a>'+
	'<h2><a target="_blank" href="{url}"  class="tli-title">{title}</a></h2>'+
	'<p class="line-k">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 家：{provider}<br />浏 览 数 ：{view}<br />'+
	'活动时间：{time}</p><a target="_blank" href="{url}" class="mores">立即查看</a></li>[/data]';
var data2='[data]<li class="tab-li">'+
	'<a target="_blank" href="{url}"><img src="{pic}" alt="" width="238" height="148"/></a>'+
	'<h2><a target="_blank" href="{url}"  class="tli-title">{title}</a></h2>'+
	'<p class="line-k">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 家：{provider}<br />浏 览 数 ：{view}<br />'+
	'活动时间：{time}</p><a target="_blank" href="{url}" class="ends">立即查看</a></li>[/data]';
var url = "{% url 'get_wel_page' %}" + "?page={page}&size={pageSize}&";
function pagecallback(){
	$(".tab-li.new").prepend('<div class="newpost z">新</div>');
}
$(function(){
   	$('.zero_h a').toggleClass("vo");
	$("#pagedata1").ajaxPage({
	    url:url+"state=1&filter=0",
	    pageId:$("#page1"),
	    pageSize:6,
	    run:true,
	    content:data,
	    complete:pagecallback,
	});
	$("#pagedata2").ajaxPage({
	    url:url+"state=2&filter=0",
	    pageId:$("#page2"),
	    pageSize:6,
	    run:true,
	    content:data2,
	});
 	$("#tab li").click(function(){
		if($(this).attr("class")!="cur"){
			$(this).toggleClass("cur").siblings().removeClass("cur")
			var index = $(this).index();
			$("#page1").empty();
			$("#pagedata1").ajaxPage({
			    url:url+"state=1&filter="+index, 
			    pageId:$("#page1"),
			    pageSize:6,
			    run:true,
			    content:data,
			    complete:pagecallback,
			});
		}
 	});
 	$("#tabg li").click(function(){
		if($(this).attr("class")!="curs"){
			$(this).toggleClass("curs").siblings().removeClass("curs")
			var index = $(this).index();
			$("#page2").empty();
			$("#pagedata2").ajaxPage({
			    url:url+"state=2&filter="+index, 
			    pageId:$("#page2"),
			    pageSize:6,
			    run:true,
			    content:data2,
			});
		}
 	});
    $('.flexslider').flexslider({
           directionNav: true,
           pauseOnAction: false
    });

});
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
    DD_belatedPNG.fix('.ie6Png,.ie6Png img,*');
</script>
<![endif]-->
</head>
<body>
{% include "header.html" %}
<div id="content">
   <div id="index-banner">
    <div class="flexslider">
          <ul class="slides">
          {% for adv in ad_list %}
            <li onclick="location='{{adv.url}}'" style="background:url({{adv.pic.url}}) 50% 0 no-repeat;cursor:pointer;"></li>
          {%endfor%}
          </ul>
        <div class="index-banner-main">
              <div class="top">
              	<div class="top_nav"><span>本月提交福利排行榜</span></div>
		        <ul class="top_list">
	            	<li><img src="{%static 'images/top-1.png'%}" /> &nbsp;&nbsp; <span>{{rank1.username}}</span>&nbsp;&nbsp;&nbsp;&nbsp; {{rank1.acc_num}}</li>
	            	<li><img src="{%static 'images/top-2.png'%}" /> &nbsp;&nbsp; <span>{{rank2.username}}</span>&nbsp;&nbsp;&nbsp;&nbsp; {{rank2.acc_num}}</li>
	            	<li><img src="{%static 'images/top-3.png'%}" /> &nbsp;&nbsp; <span>{{rank3.username}}</span>&nbsp;&nbsp;&nbsp;&nbsp; {{rank3.acc_num}}</li>
	            	<li><img src="{%static 'images/top-4.png'%}" /> &nbsp;&nbsp; <span>{{rank4.username}}</span>&nbsp;&nbsp;&nbsp;&nbsp; {{rank4.acc_num}}</li>
	            </ul>
              <div class="submit">
              	<img src="{%static 'images/submit.png'%}" />
                <a>提交福利送现金</a>
              </div>
              </div>
        </div>
    </div>
  </div>

<div class="nav">
	<div class="nav_1">
    	<img id="img1" src="{%static 'images/nav-1.png'%}" />
        <a>全部</a>
    </div>
	<div class="nav_2">
    	<img src="{%static 'images/nav-2.png'%}" />
        <a>红包</a>
    </div>
    <div class="nav_3">
    	<img src="{%static 'images/nav-3.png'%}" />
        <a>优惠券</a>
    </div>
    <div class="nav_4">
    	<img src="{%static 'images/nav-4.png'%}" />
        <a>9.9包邮</a>
    </div>
    <div class="nav_5">
    	<img src="{%static 'images/nav-5.png'%}" />
        <a>其他</a>
    </div>
</div> 
<div class="nav_2_children">
        <a>体验金</a>
        <a>流量</a>
        <a>红包</a>
        <a>话费</a>
</div>
<script>
$(".nav_2_children").hide();
$(".nav_1").mouseover(function(){ 
$(this).children().attr("src","{%static 'images/pic_14.png'%}");
});
$(".nav_1").mouseleave(function(){ 
$(this).children().attr("src","{%static 'images/nav-1.png'%}");
});
$(".nav_2").mouseover(function(){ 
$(this).children().attr("src","{%static 'images/pic_08.png'%}");
$(".nav_2_children").show();
});
$(".nav_2").mouseleave(function(){ 
$(this).children().attr("src","{%static 'images/nav-2.png'%}");

});
$(".nav_3").mouseover(function(){ 
$(this).children().attr("src","{%static 'images/pic_03.png'%}");
});
$(".nav_3").mouseleave(function(){ 
$(this).children().attr("src","{%static 'images/nav-3.png'%}");
});
$(".nav_4").mouseover(function(){ 
$(this).children().attr("src","{%static 'images/pic_05.png'%}");
});
$(".nav_4").mouseleave(function(){ 
$(this).children().attr("src","{%static 'images/nav-4.png'%}");
});
$(".nav_5").mouseover(function(){ 
$(this).children().attr("src","{%static 'images/pic_11.png'%}");
});
$(".nav_5").mouseleave(function(){ 
$(this).children().attr("src","{%static 'images/nav-5.png'%}");
});
</script>


<div class="search">
    <input />
    <img src="{%static 'images/search.png'%}" />
</div>   

<div class="walfare">
  <div class="walfare_top">
    <div class="walfare_top_1"></div>
    <div class="walfare_font">
         <h1>福利大全</h1>
         <a>WALFARE</a>
         <img src="{%static 'images/pict_38.png'%}" />
    </div>
    <div class="walfare_top_2"></div>
  </div>
   <div class="middle">
      <a class="active">正在进行的免费福利</a>&nbsp;&nbsp;&nbsp;&nbsp;<a>已经结束的免费福利</a>
   </div>
  <div class="box">
    <ul>
    {%for wel in wel_list%}
      <li>
        <div class="box_children">
        <div class="box_pic"><img src="{{wel.pic.url}}" /></div>
        <a href="{%url 'welfare' id=wel.id%}" class="box_name">{{wel.title}}</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">{{wel.get_type_display}}</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div> 
      </div>
      </li>
      {%endfor%}
    </ul>   
  </div>
      
        <div class="box" style="display:none">
    <ul>
      <li>
        <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">123123214124券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div> 
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
       
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
        
      </div>
      </li>
      <li>
      <div class="box_children">
        <div class="box_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
        <a class="box_name">5-10元代金券</a>
        <div class="box_line"></div>
        <div>
        <a class="classes">代金券</a>
        <img src="{%static 'images/pict_60.png'%}" class="see" />
        <span class="number">100</span>
        </div>
       </li>
     </ul>   
      </div>
      
  <div class="item_con_pager">
            <div class="pager_container">
                  <!-- 上一页处理 -->
                 <a rel="nofollow" href="javascript:;" class="page_no pager_prev_disabled" data-index="">上一页</a>
                
                <!-- 如果前面页数过多,显示"..." -->
                                
                <!-- 显示当前页附近的页 -->
                                                
                    <!-- 当前页号不需要设置链接 -->
                    <a rel="nofollow" href="javascript:;" class="page_no pager_is_current" data-index="1">1</a>
                                    
                    <!-- 当前页号不需要设置链接 -->
                    <a class="page_no" data-index="2">2</a>
                                    
                    <!-- 当前页号不需要设置链接 -->
                    <a class="page_no" data-index="3">3</a>
                                    
                <!-- 如果后面页数过多,显示"..." -->
                                    ···
                   <a class="page_no" data-index="10">10</a>
                
                <!-- 下一页处理 -->
                   <a class="page_no" data-index="2">下一页</a>
             </div>
        </div>
  </div>

 </div> 
<script>
$(".box_children").mouseover(
  function(){
	  $(this).attr("src","{%static 'images/pict_42.png'%}")
	  }
)
</script>
<div class="Business">
  <div class="Business_children">
      <div class="Business_top">
        <div class="Business_top_1"></div>
        <div class="Business_font">
             <h1>商家大全</h1>
             <a>MARCHANT</a>
             <img src="{%static 'images/pict_38.png'%}" />
        </div>
        <div class="Business_top_2"></div>
      </div>
  <div class="Business_box">
    <img src="{%static 'images/logo-1.png'%}" />
    <img src="{%static 'images/logo-2.png'%}" />
    <img src="{%static 'images/logo-3.png'%}" />
    <img src="{%static 'images/logo-4.png'%}" />
    <img src="{%static 'images/logo-5.png'%}" />
  </div>
  <div class="Business_box">
    <img src="{%static 'images/logo-6.png'%}" />
    <img src="{%static 'images/logo-7.png'%}" />
    <img src="{%static 'images/logo-8.png'%}" />
    <img src="{%static 'images/logo-9.png'%}" />
    <img src="{%static 'images/logo-10.png'%}" />
  </div>
  <img src="{%static 'images/pict_94.png'%}" class="more_bg" /><a class="more">MORE>></a>
  </div>
</div>     

<div class="footer_box">
  <div class="other">
    <div class="other_top">
      <div>你可能感兴趣的福利</div>
      <img src="{%static 'images/pict_98.png'%}" />
    </div>
    <div class="other_box">
       <div class="other_1">
                <div class="other_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
                <a class="other_name">5-10元代金券</a>
                <div class="other_line"></div>
                <div>
                <a class="other_classes">代金券</a>
                <img src="{%static 'images/pict_60.png'%}" class="other_see" />
                <span class="other_number">100</span>
                </div>
        </div>
        <div class="other_2">
                <div class="other_pic"><img src="{%static 'images/box_pic.png'%}" /></div>
                <a class="other_name">5-10元代金券</a>
                <div class="other_line"></div>
                <div>
                <a class="other_classes">代金券</a>
                <img src="{%static 'images/pict_60.png'%}" class="other_see" />
                <span class="other_number">100</span>
                </div>
         </div>
    </div>
  </div>
  
  <div class="subject">
    <div class="subject_top">
      <div>专题栏目</div>
      <img src="{%static 'images/pict_100.png'%}" />
    </div>
    <div class="subject_box">
        <img src="{%static 'images/picture_104.png'%}"  />
        <h1>六月，我与挖福利的故事</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar            tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus..</p>
      </div>
  </div>
</div>

</div>
<div style="clear:both"></div>
<!--底部-->
  {% include "footer.html" %}
  <!--浮动窗口-->  
  {% include "outline.html" %}
</body>
</html>