<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>一个提供免费福利的网络理财平台，挖福利。</title>
<meta content="免费福利，理财红包，理财活动，购物红包，体验红包" name="keywords">
<meta content="挖福利免费为您提供互联网优惠券和免费福利领取活动信息！" name="description">
<link href="images/favicon.ico" rel="shortcut icon">
<link href="css/style.css" type="text/css" rel="stylesheet">
<link href="css/index.css" type="text/css" rel="stylesheet">
<link href="css/page.css" type="text/css" rel="stylesheet">
<link href="css/zixun-style.css" type="text/css" rel="stylesheet">

</head>
<body>
<div id="header">
<div class="header-main">
<div class="header-t">
欢迎来到挖福利，全国首家综合性互联网产品体验超市！客服热线：
<span>0734-8344414</span>
<div class="rt">
<a href="/account/register/">注册</a>
  |
<a href="/account/login/">登录</a>
 |
<a href="/aboutus/#cont=strategy">帮助</a>
</div>
</div>
<div class="header-b">
<div id="logo">
<a href="/">
<img alt="logo" src="images/logo.jpg">
</a>
</div>
<div id="menu">
<ul>
<li class="home">
<a href="/">首 页</a>
</li>
<li class="zero_h">
<a class="vo" href="/welfare/">免费福利</a>
</li>
<li class="task_h">
<a href="/task/">体验福利</a>
</li>
<li class="finan_h">
<a href="/finance/">理财福利</a>
</li>
<li class="mall_h">
<a href="/mall/">积分商城</a>
</li>
<li class="about_h">
<a href="/aboutus/">关于我们</a>
</li>
</ul>
</div>
</div>
</div>
</div>

<!-- 搜索 -->
<div class="search">
    <div>当前位置：<a href="#">挖福利</a> > <a href="#">福利资讯</a> > <a href="#">挖活动</a></div>
    <form>
        <input type="text" placeholder="挖福利">
        <input type="submit" value="搜索">
    </form>
</div>

<!-- 内容 -->
<div class="content">
  <div class="main">
      <h2>挖福利：个人理财需要做到哪几件事？理财攻略大全</h2>
      <h5>发稿时间：2016-08-10 14：54：00 来源：挖福利</h5>
      <div>挖福利：个人理财需要做到哪几件事？理财攻略大全挖福利：个人理财需要做到哪几件事？理财攻略大全挖福利：个人理财需要做到哪几件事？理财攻略大全挖福利：个人理财需要做到哪几件事？理财攻略大全挖福利：个人理财需要做到哪几件事？理财攻略大全挖福利：个人理财需要做到哪几件事？理财攻略大全挖福利：个人理财需要做到哪几件事？理财攻略大全</div>
      <img src="" alt="">
  </div>

  <div class="sidebar">
      <h2>大家都在看</h2>
      <div class="box">
        <img src="" alt="">
        <div>
            <h3>这个是标题这个是标题这个是标题这个是标题这个是标题</h3>
            <p>来源：新华社</p>
        </div>
      </div>
      <div class="box">
        <img src="" alt="">
        <div>
            <h3>这个是标题</h3>
            <p>来源：新华社</p>
        </div>
      </div>
      <div class="box">
        <img src="" alt="">
        <div>
            <h3>这个是标题</h3>
            <p>来源：新华社</p>
        </div>
      </div>
      <div class="box">
        <img src="" alt="">
        <div>
            <h3>这个是标题</h3>
            <p>来源：新华社</p>
        </div>
      </div>
      <div class="box">
        <img src="" alt="">
        <div>
            <h3>这个是标题</h3>
            <p>来源：新华社</p>
        </div>
      </div>
      <div class="box">
        <img src="" alt="">
        <div>
            <h3>这个是标题</h3>
            <p>来源：新华社</p>
        </div>
      </div>
  </div>
</div>
<div id="footer">
      <div class="footer-main">
        <div class="index_52">友情链接：&nbsp;
        <a href="http://www.quanmama.com/" rel="external nofollow">券妈妈</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.domob.cn/" rel="external nofollow">多盟</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.wdzj.com/" rel="external nofollow">网贷之家</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.ebeboo.com" rel="external nofollow">e贝宝</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="index_53">
          <div class="index_54">
            <div class="lf">
              <h2>关于我们</h2>
              <ul>
                <li><a href="/aboutus/">公司简介</a></li>
                <li><a href="/aboutus/">团队介绍</a></li>
                <li><a href="#">招贤纳士</a></li>
                <li><a href="/aboutus/#cont=contact">联系我们</a></li>
              </ul>
            </div>
            <div class="lf">
              <h2>帮助中心</h2>
              <ul>
                <li><a href="/freshman/introduction/">新手入门</a></li>
                <li><a href="/freshman/award/">邀请奖励</a></li>
                <li><a href="/aboutus/#cont=strategy">福利攻略</a></li>
                <li><a href="/aboutus/#cont=exchange_help">兑换帮助</a></li>
              </ul>
            </div>
            <div class="lf s">
              <h2>福利QQ群</h2>
              <ul>
                <li>挖福利官方总群：377351502</li>
                <li>挖福利官方群1（免费福利）：527206975</li>
                <li>挖福利官方群2（体验福利）：389152918</li>
                <li>挖福利官方群3（理财福利）：389153753</li>
              </ul>
            </div>
          </div>
          <div class="index_55">
            <h2>在线客服</h2>
            <h3>0734-8344414</h3>
            ( 服务时间 9:00~22:00 )
          </div>
          <div class="index_56">
            <div class="index_57">挖福利官方微信</div>
            <div class="index_58"><img width="123" height="123" alt="微信二维码" src="images/code.jpg"></div>
          </div>
        </div>
        <div class="index_59">Copyright&nbsp; &copy; 2015-2024&nbsp; 挖福利 版权所有 备案号：湘ICP备15015815号-2<span class="rt">
        <a href="#"><img alt="" src="images/icon-1.png"></a>
        <a href="#"><img alt="" src="images/icon-2.png"></a>
        <a href="#"><img alt="" src="images/icon-3.png"></a></span></div>
      </div>
    </div>
  <!--浮动窗口-->

<meta charset="utf-8&quot;">
  <ul id="online">
      <li class="qq"><a "="" href="http://wpa.qq.com/msgrd?v=3&amp;uin=122142551&amp;site=qq&amp;menu=yes" target="_blank"><img alt="qq" src="images/icon-4.png"><br>QQ客服</a></li>
      <li class="weixin"><a href="#"><img alt="weixin" src="images/icon-5.png"><br>微信客服</a></li>
      <li class="top"><a onclick="$('body,html').animate({scrollTop:0},600);" href="javascript:;"><img alt="top" src="images/top.png"></a></li>
   </ul>
</body></html>
